In [19]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import matplotlib.pyplot as plt

In [21]:
data_to_load = "cleaned_disaster_data_1900-2021.csv"
data = pd.read_csv(data_to_load)

In [22]:
data['Prediction'] = 0

In [23]:
data

,Unnamed: 0,Year,Disaster Type,Disaster Subgroup,Disaster Subtype,Country,Continent,Total Deaths,Total Affected,Prediction
0,5,1903,Mass movement (dry),Geophysical,Rockfall,Canada,Americas,76.0,23.0,0
1,8,1905,Mass movement (dry),Geophysical,Rockfall,Canada,Americas,18.0,18.0,0
2,33,1911,Wildfire,Climatological,Forest fire,Canada,Americas,73.0,200.0,0
3,35,1912,Storm,Meteorological,Convective storm,Canada,Americas,28.0,2700.0,0
4,37,1914,Earthquake,Geophysical,Ground movement,Indonesia,Asia,20.0,20.0,0
...,...,...,...,...,...,...,...,...,...,...
11612,16121,2021,Flood,Hydrological,NaN,Yemen,Asia,11.0,67980.0,0
11613,16122,2021,Flood,Hydrological,NaN,South Africa,Africa,31.0,400.0,0
11614,16123,2021,Epidemic,Biological,Viral disease,Congo (the Democratic Republic of the),Africa,131.0,301.0,0
11615,16124,2021,Flood,Hydrological,NaN,Serbia,Europe,NaN,22.0,0
11616,16125,2021,Flood,Hydrological,NaN,South Sudan,Africa,7.0,500000.0,0

In [25]:
# Encoding with Pandas
binary_encoded = pd.get_dummies(data, columns=["Disaster Type","Disaster Subgroup",	"Disaster Subtype","Country","Continent"])
binary_encoded

,Unnamed: 0,Year,Total Deaths,Total Affected,Prediction,Disaster Type_Animal accident,Disaster Type_Drought,Disaster Type_Earthquake,Disaster Type_Epidemic,Disaster Type_Extreme temperature,...,Country_Yemen Arab Rep,Country_Yemen P Dem Rep,Country_Yugoslavia,Country_Zambia,Country_Zimbabwe,Continent_Africa,Continent_Americas,Continent_Asia,Continent_Europe,Continent_Oceania
0,5,1903,76.0,23.0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,8,1905,18.0,18.0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,33,1911,73.0,200.0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,35,1912,28.0,2700.0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,37,1914,20.0,20.0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11612,16121,2021,11.0,67980.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11613,16122,2021,31.0,400.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
11614,16123,2021,131.0,301.0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
11615,16124,2021,NaN,22.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
11616,16125,2021,7.0,500000.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [ ]:
### Encoding done through sklearn

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2 = data.copy()
df2['Disaster Type'] = le.fit_transform(df2['Disaster Type'])

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df3 = df2.copy()
df3['Disaster Subgroup'] = le.fit_transform(df2['Disaster Subgroup'])

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df4 = df3.copy()
df4['Disaster Subtype'] = le.fit_transform(df2['Disaster Subtype'])

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df5 = df4.copy()
df5['Country'] = le.fit_transform(df2['Country'])

In [17]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
encoded_df = df5.copy()
encoded_df['Continent'] = le.fit_transform(df2['Continent'])

In [18]:
encoded_df

,Unnamed: 0,Year,Disaster Type,Disaster Subgroup,Disaster Subtype,Country,Continent,Total Deaths,Total Affected,Prediction
0,5,1903,10,3,19,32,1,76.0,23.0,0
1,8,1905,10,3,19,32,1,18.0,18.0,0
2,33,1911,13,1,9,32,1,73.0,200.0,0
3,35,1912,11,5,5,32,1,28.0,2700.0,0
4,37,1914,2,3,10,86,2,20.0,20.0,0
...,...,...,...,...,...,...,...,...,...,...
11612,16121,2021,5,4,25,216,2,11.0,67980.0,0
11613,16122,2021,5,4,25,178,0,31.0,400.0,0
11614,16123,2021,3,0,24,41,0,131.0,301.0,0
11615,16124,2021,5,4,25,168,3,NaN,22.0,0
11616,16125,2021,5,4,25,179,0,7.0,500000.0,0