In [1]:
# Importing required libraries
import pandas as pd
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy as sql
from sqlalchemy import create_engine
import psycopg2
import config
from config import db_password

# Imports for table creation
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Text, Time
from sqlite3 import connect

In [2]:
fire_df = pd.read_csv("Resources_k/fire_size_bins_new.csv")
fire_df

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin,fire_size_bin_no
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0,Teacup,1
1,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0,Mini,3
2,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0,Teacup,1
3,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0,Mini,3
4,36,1420.00,Lightning,33.241800,-104.912200,NM,Jul,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,1,Large,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13133,55336,3409.00,Utilities,31.059000,-98.956367,TX,Aug,30.731860,30.545367,28.719917,3.136761,3.238803,3.224274,50.089157,49.416505,55.426471,2015,3,Large,5
13134,55337,4582.00,Utilities,30.075167,-97.149167,TX,Oct,24.642268,23.713390,24.221869,1.529850,1.576828,1.563817,62.848172,60.641975,63.196819,2015,11,Large,5
13135,55341,17823.00,Accidental,44.834600,-117.220600,OR,Sep,15.546194,12.890633,10.734328,2.608150,2.486802,1.835821,55.009259,62.368700,67.266304,2015,39,XL,6
13136,55342,5086.00,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,4.428757,4.197593,3.803571,51.676681,46.933399,42.638384,2015,5,Large,5
13137,55343,5963.00,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,1.580406,1.835639,1.405983,51.541802,53.945191,56.257500,2015,10,Large,5

In [3]:
# Create fire_info df to export to PGAdmin
fire_info = fire_df[["fire_id", "fire_size", "fire_cause", "discovery_month", "putout_time", "year"]]
fire_info

       fire_id  fire_size      fire_cause discovery_month  putout_time  year
0            3       1.00  Debris Burning             Jun            0  2005
1           24      40.00           Arson             Apr            0  1999
2           31       1.20  Debris Burning             Apr            0  2007
3           35      30.18  Debris Burning             Oct            0  2000
4           36    1420.00       Lightning             Jul            1  1994
...        ...        ...             ...             ...          ...   ...
13133    55336    3409.00       Utilities             Aug            3  2015
13134    55337    4582.00       Utilities             Oct           11  2015
13135    55341   17823.00      Accidental             Sep           39  2015
13136    55342    5086.00  Debris Burning             Mar            5  2015
13137    55343    5963.00  Debris Burning             Oct           10  2015

[13138 rows x 6 columns]

In [4]:
# Connect to sql database 
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Wild_Fires"
engine = create_engine(db_string)
fire_info.to_sql(name='fire_info', con=engine, if_exists = 'replace')

In [5]:
#import table from sql database 
fire_info_db = pd.read_sql_table("fire_info", con=engine, index_col="index")
fire_info_db

       fire_id  fire_size      fire_cause discovery_month  putout_time  year
index
0            3       1.00  Debris Burning             Jun            0  2005
1           24      40.00           Arson             Apr            0  1999
2           31       1.20  Debris Burning             Apr            0  2007
3           35      30.18  Debris Burning             Oct            0  2000
4           36    1420.00       Lightning             Jul            1  1994
...        ...        ...             ...             ...          ...   ...
13133    55336    3409.00       Utilities             Aug            3  2015
13134    55337    4582.00       Utilities             Oct           11  2015
13135    55341   17823.00      Accidental             Sep           39  2015
13136    55342    5086.00  Debris Burning             Mar            5  2015
13137    55343    5963.00  Debris Burning             Oct           10  2015

[13138 rows x 6 columns]

In [6]:
# Create fire_category df to export to PGAdmin
fire_category = fire_df[["fire_id", "fire_size_bin", "fire_size_bin_no"]]
fire_category

       fire_id fire_size_bin  fire_size_bin_no
0            3        Teacup                 1
1           24          Mini                 3
2           31        Teacup                 1
3           35          Mini                 3
4           36         Large                 5
...        ...           ...               ...
13133    55336         Large                 5
13134    55337         Large                 5
13135    55341            XL                 6
13136    55342         Large                 5
13137    55343         Large                 5

[13138 rows x 3 columns]

In [7]:
# Connect to sql database 
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Wild_Fires"
engine = create_engine(db_string)
fire_category.to_sql(name='fire_category', con=engine, if_exists = 'replace')

In [8]:
#import table from sql database 
fire_category_db = pd.read_sql_table("fire_category", con=engine, index_col="index")
fire_category_db

       fire_id fire_size_bin  fire_size_bin_no
index
0            3        Teacup                 1
1           24          Mini                 3
2           31        Teacup                 1
3           35          Mini                 3
4           36         Large                 5
...        ...           ...               ...
13133    55336         Large                 5
13134    55337         Large                 5
13135    55341            XL                 6
13136    55342         Large                 5
13137    55343         Large                 5

[13138 rows x 3 columns]

In [9]:
# Create fire_location df to export to PGAdmin
fire_location = fire_df[["fire_id", "latitude", "longitude", "state"]]
fire_location

       fire_id   latitude   longitude state
0            3  39.641400 -119.308300    NV
1           24  31.435181  -88.999489    MS
2           31  48.833000  -99.783600    ND
3           35  31.259000  -84.895600    GA
4           36  33.241800 -104.912200    NM
...        ...        ...         ...   ...
13133    55336  31.059000  -98.956367    TX
13134    55337  30.075167  -97.149167    TX
13135    55341  44.834600 -117.220600    OR
13136    55342  45.656100 -109.114200    MT
13137    55343  43.785671 -115.985922    ID

[13138 rows x 4 columns]

In [10]:
# Connect to sql database 
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Wild_Fires"
engine = create_engine(db_string)
fire_location.to_sql(name='fire_location', con=engine, if_exists = 'replace')

In [11]:
#import table from sql database 
fire_location_db = pd.read_sql_table("fire_location", con=engine, index_col="index")
fire_location_db

       fire_id   latitude   longitude state
index
0            3  39.641400 -119.308300    NV
1           24  31.435181  -88.999489    MS
2           31  48.833000  -99.783600    ND
3           35  31.259000  -84.895600    GA
4           36  33.241800 -104.912200    NM
...        ...        ...         ...   ...
13133    55336  31.059000  -98.956367    TX
13134    55337  30.075167  -97.149167    TX
13135    55341  44.834600 -117.220600    OR
13136    55342  45.656100 -109.114200    MT
13137    55343  43.785671 -115.985922    ID

[13138 rows x 4 columns]

In [12]:
# Create weather_data df to export to PGAdmin
weather_data = fire_df[["fire_id", "Temp_pre_30", "Wind_pre_30", "Hum_pre_30",
                        "Temp_pre_15", "Wind_pre_15", "Hum_pre_15",
                       "Temp_pre_7", "Wind_pre_7", "Hum_pre_7"]]

In [13]:
# Connect to sql database 
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Wild_Fires"
engine = create_engine(db_string)
weather_data.to_sql(name='weather_data', con=engine, if_exists = 'replace')

In [14]:
#import table from sql database 
weather_data_db = pd.read_sql_table("weather_data", con=engine, index_col="index")
weather_data_db

,fire_id,Temp_pre_30,Wind_pre_30,Hum_pre_30,Temp_pre_15,Wind_pre_15,Hum_pre_15,Temp_pre_7,Wind_pre_7,Hum_pre_7
index,,,,,,,,,,
0,3,16.275967,4.054982,44.778429,18.996181,3.398329,37.140811,18.142564,3.671282,35.353846
1,24,13.468619,2.038268,57.997207,15.067227,1.737921,56.747191,15.604790,1.775904,59.614458
2,31,-0.891635,5.800667,77.575012,0.372659,6.012852,75.963981,-4.273834,6.658621,71.173116
3,35,20.079480,3.659840,67.551783,17.722714,3.366443,61.733788,18.188679,2.211429,60.328571
4,36,31.055859,4.026367,28.783203,32.523438,3.844922,25.789062,34.893333,3.695833,18.208333
...,...,...,...,...,...,...,...,...,...,...
13133,55336,30.731860,3.136761,50.089157,30.545367,3.238803,49.416505,28.719917,3.224274,55.426471
13134,55337,24.642268,1.529850,62.848172,23.713390,1.576828,60.641975,24.221869,1.563817,63.196819
13135,55341,15.546194,2.608150,55.009259,12.890633,2.486802,62.368700,10.734328,1.835821,67.266304
13136,55342,2.275974,4.428757,51.676681,7.360185,4.197593,46.933399,7.678571,3.803571,42.638384
13137,55343,17.007551,1.580406,51.541802,16.983670,1.835639,53.945191,15.732906,1.405983,56.257500

## Connecting tables for DataBase

In [15]:
#import table from sql database after join in PGAdmin(SQL)
wildfire_details_30_db = pd.read_sql_table("wildfire_details_30", con=engine, index_col="fire_id")
wildfire_details_30_db

,state,discovery_month,fire_cause,Temp_pre_30,Wind_pre_30,Hum_pre_30,putout_time,fire_size_bin,fire_size_bin_no
fire_id,,,,,,,,,
3,NV,Jun,Debris Burning,16.275967,4.054982,44.778429,0,Teacup,1
24,MS,Apr,Arson,13.468619,2.038268,57.997207,0,Mini,3
31,ND,Apr,Debris Burning,-0.891635,5.800667,77.575012,0,Teacup,1
35,GA,Oct,Debris Burning,20.079480,3.659840,67.551783,0,Mini,3
36,NM,Jul,Lightning,31.055859,4.026367,28.783203,1,Large,5
...,...,...,...,...,...,...,...,...,...
55336,TX,Aug,Utilities,30.731860,3.136761,50.089157,3,Large,5
55337,TX,Oct,Utilities,24.642268,1.529850,62.848172,11,Large,5
55341,OR,Sep,Accidental,15.546194,2.608150,55.009259,39,XL,6
55342,MT,Mar,Debris Burning,2.275974,4.428757,51.676681,5,Large,5
55343,ID,Oct,Debris Burning,17.007551,1.580406,51.541802,10,Large,5

In [16]:
# # Connect to sql database 
# db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Wild_Fires"
# engine = create_engine(db_string)

# # define your database query
# query = """
# SELECT fc.fire_id,
#         fl.state, 
#         fi.discovery_month,
#         fi.fire_cause, 
#         wd."Temp_pre_30",
#         wd."Wind_pre_30",
#         wd."Hum_pre_30",
#         fi.putout_time, 
#         fc.fire_size_bin,
#         fc.fire_size_bin_no
#     INTO wildfire_details_30
#     FROM fire_category AS fc
#         INNER JOIN fire_location AS fl 
#             ON (fc.fire_id = fl.fire_id)
#         INNER JOIN fire_info AS fi 
#             ON (fc.fire_id = fi.fire_id)
#         INNER JOIN weather_data AS wd 
#             ON (fc.fire_id = wd.fire_id);
# """
 
# # access the database with the query and return a dataframe
# pd.read_sql(query, con=engine)

In [17]:
# # Connect to sql database 
# db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Wild_Fires"
# engine = sql.create_engine(db_string)
# meta = sql.MetaData(bind=engine)

# wildfire_details_30 = sql.Table('wildfire_details_30', meta, 
#                  sql.Column('fire_id', sql.Integer, primary_key = True),           
#                  sql.Column('state', Integer),
#                  sql.Column('discovery_month', sql.String),
#                  sql.Column('fire_cause', sql.String),  
#                  sql.Column("Temp_pre_30", sql.Integer),
#                  sql.Column("Wind_pre_30", sql.Integer),
#                  sql.Column("Hum_pre_30", sql.Integer),
#                  sql.Column('putout_time', sql.Integer),
#                  sql.Column('fire_size_bin', sql.String),
#                  sql.Column('fire_size_bin_no', sql.Integer))
# meta.create_all(engine)
# wildfire_details_30

In [18]:
# # Connect to sql database 
# db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Wild_Fires"
# engine = create_engine(db_string)
 
# # define your database query
# query = """
# SELECT fc.fire_id,
#         fl.state, 
#         fi.discovery_month,
#         fi.fire_cause, 
#         wd."Temp_pre_30",
#         wd."Wind_pre_30",
#         wd."Hum_pre_30",
#         fi.putout_time, 
#         fc.fire_size_bin,
#         fc.fire_size_bin_no
#     INTO wildfire_details_30
#     FROM fire_category AS fc
#         INNER JOIN fire_location AS fl 
#             ON (fc.fire_id = fl.fire_id)
#         INNER JOIN fire_info AS fi 
#             ON (fc.fire_id = fi.fire_id)
#         INNER JOIN weather_data AS wd 
#             ON (fc.fire_id = wd.fire_id);
# """
 
# # access the database with the query and return a dataframe
# wildfire_details_30 = pd.read_sql_query(query, engine.connect())

In [19]:
# sql = """SELECT fc.fire_id,
#         fl.state, 
#         fi.discovery_month,
#         fi.fire_cause, 
#         wd."Temp_pre_30",
#         wd."Wind_pre_30",
#         wd."Hum_pre_30",
#         fi.putout_time, 
#         fc.fire_size_bin,
#         fc.fire_size_bin_no
#     INTO wildfire_details_30
#     FROM fire_category AS fc
#         INNER JOIN fire_location AS fl 
#             ON (fc.fire_id = fl.fire_id)
#         INNER JOIN fire_info AS fi 
#             ON (fc.fire_id = fi.fire_id)
#         INNER JOIN weather_data AS wd 
#             ON (fc.fire_id = wd.fire_id);"""
# df = pd.read_sql_query(sql, engine)
# df.head()
   
# # mergedCSV.to_csv('wildfire_details_30.csv',index = False)

In [20]:
# # Connect to sql database 
# from sqlalchemy import create_engine
# engine = create_engine(f"postgresql://postgres:{db_password}@127.0.0.1:5432/Wild_Fires")
# # db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Wild_Fires"
# # engine = create_engine(db_string)
# connection = engine.raw_connection()
# cur = connection.cursor()
# # cur = db_string.cursor()

# cur.execute('''SELECT fc.fire_id,
#         fl.state, 
#         fi.discovery_month,
#         fi.fire_cause, 
#         wd."Temp_pre_30",
#         wd."Wind_pre_30",
#         wd."Hum_pre_30",
#         fi.putout_time, 
#         fc.fire_size_bin,
#         fc.fire_size_bin_no
#     INTO wildfire_details_30
#     FROM fire_category AS fc
#         INNER JOIN fire_location AS fl 
#             ON (fc.fire_id = fl.fire_id)
#         INNER JOIN fire_info AS fi 
#             ON (fc.fire_id = fi.fire_id)
#         INNER JOIN weather_data AS wd 
#             ON (fc.fire_id = wd.fire_id);''')
# wildfire_details_30.to_sql(name='wildfire_details_30', con=engine, if_exists = 'replace')
# df= pd.DataFrame(cur.fetchall())
# df.columns = [x[0] for x in cur.description]
# df
# wildfire_details_30.to_sql(name='wildfire_details_30', con=engine, if_exists = 'replace')

# wildfire_details_30_db = pd.read_sql_table("wildfire_details_30", con=engine, index_col="index")
# wildfire_details_30_db