# First Round of Cleaning

## Import Initial Dependency & Read Original CSV

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Resources_k/Original Data/FW_Veg_Rem_Combined_ORIGINAL.csv",index_col=False)
df

,Unnamed: 0,Unnamed: 0.1,fire_name,fire_size,fire_size_class,stat_cause_descr,latitude,longitude,state,disc_clean_date,...,Wind_cont,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness
0,0,0,NaN,10.0,C,Missing/Undefined,18.105072,-66.753044,PR,2/11/2007,...,3.250413,78.216590,76.793750,76.381579,78.724370,0.0,0.0,0.0,0.0,0.017923
1,1,1,NaN,3.0,B,Arson,35.038330,-87.610000,TN,12/11/2006,...,2.122320,70.840000,65.858911,55.505882,81.682678,59.8,8.4,0.0,86.8,0.184355
2,2,2,NaN,60.0,C,Arson,34.947800,-88.722500,MS,2/29/2004,...,3.369050,75.531629,75.868613,76.812834,65.063800,168.8,42.2,18.1,124.5,0.194544
3,3,3,WNA 1,1.0,B,Debris Burning,39.641400,-119.308300,NV,6/6/2005,...,0.000000,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,0.487447
4,4,4,NaN,2.0,B,Miscellaneous,30.700600,-90.591400,LA,9/22/1999,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.214633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55362,55362,55362,IMPACT,6289.0,G,Missing/Undefined,39.180000,-96.784167,KS,10/15/2015,...,3.804803,65.671410,61.839572,54.625698,55.042092,35.4,8.2,0.0,249.0,0.331501
55363,55363,55363,BUTTE,70868.0,G,Missing/Undefined,38.342719,-120.695967,CA,9/9/2015,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.124683
55364,55364,55364,WILLOW,5702.0,G,Arson,37.262607,-119.511139,CA,7/25/2015,...,2.529158,43.755556,43.755556,44.443975,35.924406,0.0,0.0,0.0,0.0,0.097682
55365,55365,55365,BARKER,3261.0,F,Miscellaneous,40.604300,-123.080450,CA,7/31/2015,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.178206
55366,55366,55366,VALLEY,76067.0,G,Missing/Undefined,38.843988,-122.759707,CA,9/12/2015,...,1.208073,50.521912,46.310627,37.178571,58.063802,0.3,0.3,0.0,18.8,0.167305

In [3]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'fire_name', 'fire_size',
       'fire_size_class', 'stat_cause_descr', 'latitude', 'longitude', 'state',
       'disc_clean_date', 'cont_clean_date', 'discovery_month',
       'disc_date_final', 'cont_date_final', 'putout_time', 'disc_date_pre',
       'disc_pre_year', 'disc_pre_month', 'wstation_usaf', 'dstation_m',
       'wstation_wban', 'wstation_byear', 'wstation_eyear', 'Vegetation',
       'fire_mag', 'weather_file', 'Temp_pre_30', 'Temp_pre_15', 'Temp_pre_7',
       'Temp_cont', 'Wind_pre_30', 'Wind_pre_15', 'Wind_pre_7', 'Wind_cont',
       'Hum_pre_30', 'Hum_pre_15', 'Hum_pre_7', 'Hum_cont', 'Prec_pre_30',
       'Prec_pre_15', 'Prec_pre_7', 'Prec_cont', 'remoteness'],
      dtype='object')

### Rename Unnamed column to fire_id to create unique Primary Key value for database/

In [4]:
df.drop(columns=["Unnamed: 0.1"], inplace=True)

In [5]:
df.rename(columns={"Unnamed: 0": "fire_id"}, inplace=True)

In [6]:
df

,fire_id,fire_name,fire_size,fire_size_class,stat_cause_descr,latitude,longitude,state,disc_clean_date,cont_clean_date,...,Wind_cont,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness
0,0,NaN,10.0,C,Missing/Undefined,18.105072,-66.753044,PR,2/11/2007,NaN,...,3.250413,78.216590,76.793750,76.381579,78.724370,0.0,0.0,0.0,0.0,0.017923
1,1,NaN,3.0,B,Arson,35.038330,-87.610000,TN,12/11/2006,NaN,...,2.122320,70.840000,65.858911,55.505882,81.682678,59.8,8.4,0.0,86.8,0.184355
2,2,NaN,60.0,C,Arson,34.947800,-88.722500,MS,2/29/2004,NaN,...,3.369050,75.531629,75.868613,76.812834,65.063800,168.8,42.2,18.1,124.5,0.194544
3,3,WNA 1,1.0,B,Debris Burning,39.641400,-119.308300,NV,6/6/2005,6/6/2005,...,0.000000,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,0.487447
4,4,NaN,2.0,B,Miscellaneous,30.700600,-90.591400,LA,9/22/1999,NaN,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.214633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55362,55362,IMPACT,6289.0,G,Missing/Undefined,39.180000,-96.784167,KS,10/15/2015,NaN,...,3.804803,65.671410,61.839572,54.625698,55.042092,35.4,8.2,0.0,249.0,0.331501
55363,55363,BUTTE,70868.0,G,Missing/Undefined,38.342719,-120.695967,CA,9/9/2015,10/1/2015,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.124683
55364,55364,WILLOW,5702.0,G,Arson,37.262607,-119.511139,CA,7/25/2015,NaN,...,2.529158,43.755556,43.755556,44.443975,35.924406,0.0,0.0,0.0,0.0,0.097682
55365,55365,BARKER,3261.0,F,Miscellaneous,40.604300,-123.080450,CA,7/31/2015,9/12/2015,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.178206
55366,55366,VALLEY,76067.0,G,Missing/Undefined,38.843988,-122.759707,CA,9/12/2015,NaN,...,1.208073,50.521912,46.310627,37.178571,58.063802,0.3,0.3,0.0,18.8,0.167305

In [7]:
df.describe()

,fire_id,fire_size,latitude,longitude,disc_pre_year,dstation_m,wstation_wban,wstation_byear,wstation_eyear,Vegetation,...,Wind_cont,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness
count,55367.000000,55367.000000,55367.000000,55367.000000,55367.000000,55367.000000,55367.000000,55367.000000,55367.000000,55367.000000,...,55367.000000,55367.000000,55367.000000,55367.000000,55367.000000,55367.000000,55367.000000,55367.000000,55367.000000,55367.000000
mean,27683.000000,2104.645161,36.172866,-94.757971,2003.765474,40256.474678,61029.607311,1979.341900,2015.480990,11.066068,...,1.132284,40.781796,38.453935,37.001865,25.056738,26.277046,11.654253,4.689920,15.590440,0.236799
std,15983.220514,14777.005364,6.724348,15.878194,6.584889,25272.081410,40830.393541,23.372803,6.767851,5.595719,...,2.030611,31.086856,31.042541,30.827885,31.187638,112.050198,56.920510,31.205327,59.757113,0.144865
min,0.000000,0.510000,17.956533,-165.936000,1991.000000,6.166452,100.000000,1931.000000,1993.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,13841.500000,1.200000,32.265960,-102.541513,1999.000000,21373.361515,13927.000000,1973.000000,2010.000000,9.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.137800
50%,27683.000000,4.000000,34.600000,-91.212359,2005.000000,35621.334820,73803.000000,1978.000000,2020.000000,12.000000,...,0.000000,55.657480,51.753846,48.230769,0.000000,0.000000,0.000000,0.000000,0.000000,0.202114
75%,41524.500000,20.000000,38.975235,-82.847500,2009.000000,53985.904315,99999.000000,2004.000000,2020.000000,15.000000,...,2.848603,67.384352,65.911469,64.645296,60.193606,18.900000,3.600000,0.000000,0.000000,0.284782
max,55366.000000,606945.000000,69.849500,-65.285833,2015.000000,224153.661800,99999.000000,2014.000000,2020.000000,16.000000,...,24.200000,96.000000,94.000000,96.000000,94.000000,13560.800000,2527.000000,1638.000000,2126.000000,1.000000

In [8]:
df.fire_size_class.value_counts()

B    36522
C    10811
G     3972
F     1968
D     1394
E      700
Name: fire_size_class, dtype: int64

### Drop Fire Name due to large quantity of fires w/out names

In [9]:
df=df.drop(columns="fire_name")
df

,fire_id,fire_size,fire_size_class,stat_cause_descr,latitude,longitude,state,disc_clean_date,cont_clean_date,discovery_month,...,Wind_cont,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness
0,0,10.0,C,Missing/Undefined,18.105072,-66.753044,PR,2/11/2007,NaN,Feb,...,3.250413,78.216590,76.793750,76.381579,78.724370,0.0,0.0,0.0,0.0,0.017923
1,1,3.0,B,Arson,35.038330,-87.610000,TN,12/11/2006,NaN,Dec,...,2.122320,70.840000,65.858911,55.505882,81.682678,59.8,8.4,0.0,86.8,0.184355
2,2,60.0,C,Arson,34.947800,-88.722500,MS,2/29/2004,NaN,Feb,...,3.369050,75.531629,75.868613,76.812834,65.063800,168.8,42.2,18.1,124.5,0.194544
3,3,1.0,B,Debris Burning,39.641400,-119.308300,NV,6/6/2005,6/6/2005,Jun,...,0.000000,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,0.487447
4,4,2.0,B,Miscellaneous,30.700600,-90.591400,LA,9/22/1999,NaN,Sep,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.214633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55362,55362,6289.0,G,Missing/Undefined,39.180000,-96.784167,KS,10/15/2015,NaN,Oct,...,3.804803,65.671410,61.839572,54.625698,55.042092,35.4,8.2,0.0,249.0,0.331501
55363,55363,70868.0,G,Missing/Undefined,38.342719,-120.695967,CA,9/9/2015,10/1/2015,Sep,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.124683
55364,55364,5702.0,G,Arson,37.262607,-119.511139,CA,7/25/2015,NaN,Jul,...,2.529158,43.755556,43.755556,44.443975,35.924406,0.0,0.0,0.0,0.0,0.097682
55365,55365,3261.0,F,Miscellaneous,40.604300,-123.080450,CA,7/31/2015,9/12/2015,Jul,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.178206
55366,55366,76067.0,G,Missing/Undefined,38.843988,-122.759707,CA,9/12/2015,NaN,Sep,...,1.208073,50.521912,46.310627,37.178571,58.063802,0.3,0.3,0.0,18.8,0.167305

### Drop Rows with Nulls

In [10]:
df=df.dropna()
df

,fire_id,fire_size,fire_size_class,stat_cause_descr,latitude,longitude,state,disc_clean_date,cont_clean_date,discovery_month,...,Wind_cont,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness
3,3,1.0,B,Debris Burning,39.641400,-119.308300,NV,6/6/2005,6/6/2005,Jun,...,0.000000,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,0.487447
9,9,1.0,B,Miscellaneous,48.839400,-99.718500,ND,4/19/2004,4/19/2004,Apr,...,0.000000,64.606509,55.943038,54.337838,0.000000,12.3,1.8,0.0,0.0,0.291683
22,22,2.0,B,Miscellaneous,40.843386,-73.316419,NY,4/18/2004,4/18/2004,Apr,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.054988
24,24,40.0,C,Arson,31.435181,-88.999489,MS,4/3/1999,4/3/1999,Apr,...,0.000000,57.997207,56.747191,59.614458,0.000000,0.0,0.0,0.0,0.0,0.199485
26,26,2.0,B,Debris Burning,35.718900,-92.335000,AR,1/19/2014,1/19/2014,Jan,...,0.000000,76.091398,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.227270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55349,55349,17831.0,G,Miscellaneous,30.005000,-100.391167,TX,8/10/2015,8/16/2015,Aug,...,2.360093,60.470917,56.987013,58.615538,58.243619,0.0,0.0,0.0,0.0,0.451149
55350,55350,3452.0,F,Miscellaneous,30.400883,-101.331933,TX,8/28/2015,8/30/2015,Aug,...,3.082979,44.411268,47.176638,47.944785,39.510638,4.6,4.6,0.0,0.0,0.429604
55351,55351,8300.0,G,Miscellaneous,45.922100,-111.422500,MT,10/11/2015,10/16/2015,Oct,...,3.367769,60.914780,62.120643,66.795455,48.628099,15.8,2.8,2.8,0.0,0.009711
55363,55363,70868.0,G,Missing/Undefined,38.342719,-120.695967,CA,9/9/2015,10/1/2015,Sep,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.124683
55365,55365,3261.0,F,Miscellaneous,40.604300,-123.080450,CA,7/31/2015,9/12/2015,Jul,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.178206

In [11]:
df_new=df[['fire_id', 'fire_size',
       'fire_size_class', 'stat_cause_descr', 'latitude', 'longitude', 'state',
       'disc_clean_date', 'cont_clean_date', 'discovery_month',
       'putout_time',  'Vegetation','fire_mag', 'Temp_pre_30', 'Temp_pre_15', 'Temp_pre_7',
       'Temp_cont', 'Wind_pre_30', 'Wind_pre_15', 'Wind_pre_7', 'Wind_cont',
       'Hum_pre_30', 'Hum_pre_15', 'Hum_pre_7', 'Hum_cont', 'Prec_pre_30',
       'Prec_pre_15', 'Prec_pre_7', 'Prec_cont', 'remoteness']]
df_new

,fire_id,fire_size,fire_size_class,stat_cause_descr,latitude,longitude,state,disc_clean_date,cont_clean_date,discovery_month,...,Wind_cont,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness
3,3,1.0,B,Debris Burning,39.641400,-119.308300,NV,6/6/2005,6/6/2005,Jun,...,0.000000,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,0.487447
9,9,1.0,B,Miscellaneous,48.839400,-99.718500,ND,4/19/2004,4/19/2004,Apr,...,0.000000,64.606509,55.943038,54.337838,0.000000,12.3,1.8,0.0,0.0,0.291683
22,22,2.0,B,Miscellaneous,40.843386,-73.316419,NY,4/18/2004,4/18/2004,Apr,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.054988
24,24,40.0,C,Arson,31.435181,-88.999489,MS,4/3/1999,4/3/1999,Apr,...,0.000000,57.997207,56.747191,59.614458,0.000000,0.0,0.0,0.0,0.0,0.199485
26,26,2.0,B,Debris Burning,35.718900,-92.335000,AR,1/19/2014,1/19/2014,Jan,...,0.000000,76.091398,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.227270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55349,55349,17831.0,G,Miscellaneous,30.005000,-100.391167,TX,8/10/2015,8/16/2015,Aug,...,2.360093,60.470917,56.987013,58.615538,58.243619,0.0,0.0,0.0,0.0,0.451149
55350,55350,3452.0,F,Miscellaneous,30.400883,-101.331933,TX,8/28/2015,8/30/2015,Aug,...,3.082979,44.411268,47.176638,47.944785,39.510638,4.6,4.6,0.0,0.0,0.429604
55351,55351,8300.0,G,Miscellaneous,45.922100,-111.422500,MT,10/11/2015,10/16/2015,Oct,...,3.367769,60.914780,62.120643,66.795455,48.628099,15.8,2.8,2.8,0.0,0.009711
55363,55363,70868.0,G,Missing/Undefined,38.342719,-120.695967,CA,9/9/2015,10/1/2015,Sep,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.124683
55365,55365,3261.0,F,Miscellaneous,40.604300,-123.080450,CA,7/31/2015,9/12/2015,Jul,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.178206

### Get Year from Fire Discovery Date

In [12]:
df_new['disc_clean_date'] = pd.to_datetime(df_new['disc_clean_date'].str.strip(), format='%m/%d/%Y')
df_new['year'] = df_new.disc_clean_date.dt.year

C:\Users\KATLIN\AppData\Local\Temp/ipykernel_10736/216051678.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['disc_clean_date'] = pd.to_datetime(df_new['disc_clean_date'].str.strip(), format='%m/%d/%Y')
C:\Users\KATLIN\AppData\Local\Temp/ipykernel_10736/216051678.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['year'] = df_new.disc_clean_date.dt.year

In [13]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25133 entries, 3 to 55365
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fire_id           25133 non-null  int64
 1   fire_size         25133 non-null  float64
 2   fire_size_class   25133 non-null  object
 3   stat_cause_descr  25133 non-null  object
 4   latitude          25133 non-null  float64
 5   longitude         25133 non-null  float64
 6   state             25133 non-null  object
 7   disc_clean_date   25133 non-null  datetime64[ns]
 8   cont_clean_date   25133 non-null  object
 9   discovery_month   25133 non-null  object
 10  putout_time       25133 non-null  object
 11  Vegetation        25133 non-null  int64
 12  fire_mag          25133 non-null  float64
 13  Temp_pre_30       25133 non-null  float64
 14  Temp_pre_15       25133 non-null  float64
 15  Temp_pre_7        25133 non-null  float64
 16  Temp_cont         25133 non-null  float64
 17  Wind_pre_30       25133 non-null  float64
 18  Wind_pre_15       25133 non-null  float64
 19  Wind_pre_7        25133 non-null  float64
 20  Wind_cont         25133 non-null  float64
 21  Hum_pre_30        25133 non-null  float64
 22  Hum_pre_15        25133 non-null  float64
 23  Hum_pre_7         25133 non-null  float64
 24  Hum_cont          25133 non-null  float64
 25  Prec_pre_30       25133 non-null  float64
 26  Prec_pre_15       25133 non-null  float64
 27  Prec_pre_7        25133 non-null  float64
 28  Prec_cont         25133 non-null  float64
 29  remoteness        25133 non-null  float64
 30  year              25133 non-null  int64
dtypes: datetime64[ns](1), float64(21), int64(3), object(6)
memory usage: 6.1+ MB

In [14]:
df_new

,fire_id,fire_size,fire_size_class,stat_cause_descr,latitude,longitude,state,disc_clean_date,cont_clean_date,discovery_month,...,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness,year
3,3,1.0,B,Debris Burning,39.641400,-119.308300,NV,2005-06-06,6/6/2005,Jun,...,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,0.487447,2005
9,9,1.0,B,Miscellaneous,48.839400,-99.718500,ND,2004-04-19,4/19/2004,Apr,...,64.606509,55.943038,54.337838,0.000000,12.3,1.8,0.0,0.0,0.291683,2004
22,22,2.0,B,Miscellaneous,40.843386,-73.316419,NY,2004-04-18,4/18/2004,Apr,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.054988,2004
24,24,40.0,C,Arson,31.435181,-88.999489,MS,1999-04-03,4/3/1999,Apr,...,57.997207,56.747191,59.614458,0.000000,0.0,0.0,0.0,0.0,0.199485,1999
26,26,2.0,B,Debris Burning,35.718900,-92.335000,AR,2014-01-19,1/19/2014,Jan,...,76.091398,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.227270,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55349,55349,17831.0,G,Miscellaneous,30.005000,-100.391167,TX,2015-08-10,8/16/2015,Aug,...,60.470917,56.987013,58.615538,58.243619,0.0,0.0,0.0,0.0,0.451149,2015
55350,55350,3452.0,F,Miscellaneous,30.400883,-101.331933,TX,2015-08-28,8/30/2015,Aug,...,44.411268,47.176638,47.944785,39.510638,4.6,4.6,0.0,0.0,0.429604,2015
55351,55351,8300.0,G,Miscellaneous,45.922100,-111.422500,MT,2015-10-11,10/16/2015,Oct,...,60.914780,62.120643,66.795455,48.628099,15.8,2.8,2.8,0.0,0.009711,2015
55363,55363,70868.0,G,Missing/Undefined,38.342719,-120.695967,CA,2015-09-09,10/1/2015,Sep,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.124683,2015
55365,55365,3261.0,F,Miscellaneous,40.604300,-123.080450,CA,2015-07-31,9/12/2015,Jul,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.178206,2015

### Clean Irrelevant Columns (fire_mag and fire_class_size overlap with fire_size column)

In [15]:
df_new.drop(["disc_clean_date", "cont_clean_date", "fire_mag", "fire_size_class"], axis=1, inplace=True)

c:\Users\KATLIN\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [16]:
df_new

,fire_id,fire_size,stat_cause_descr,latitude,longitude,state,discovery_month,putout_time,Vegetation,Temp_pre_30,...,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness,year
3,3,1.0,Debris Burning,39.641400,-119.308300,NV,Jun,0 days 00:00:00.000000000,0,16.275967,...,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,0.487447,2005
9,9,1.0,Miscellaneous,48.839400,-99.718500,ND,Apr,0 days 00:00:00.000000000,15,4.600950,...,64.606509,55.943038,54.337838,0.000000,12.3,1.8,0.0,0.0,0.291683,2004
22,22,2.0,Miscellaneous,40.843386,-73.316419,NY,Apr,0 days 00:00:00.000000000,15,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.054988,2004
24,24,40.0,Arson,31.435181,-88.999489,MS,Apr,0 days 00:00:00.000000000,12,13.468619,...,57.997207,56.747191,59.614458,0.000000,0.0,0.0,0.0,0.0,0.199485,1999
26,26,2.0,Debris Burning,35.718900,-92.335000,AR,Jan,0 days 00:00:00.000000000,15,3.490698,...,76.091398,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.227270,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55349,55349,17831.0,Miscellaneous,30.005000,-100.391167,TX,Aug,6,12,28.113120,...,60.470917,56.987013,58.615538,58.243619,0.0,0.0,0.0,0.0,0.451149,2015
55350,55350,3452.0,Miscellaneous,30.400883,-101.331933,TX,Aug,2,12,31.270833,...,44.411268,47.176638,47.944785,39.510638,4.6,4.6,0.0,0.0,0.429604,2015
55351,55351,8300.0,Miscellaneous,45.922100,-111.422500,MT,Oct,5,15,12.855921,...,60.914780,62.120643,66.795455,48.628099,15.8,2.8,2.8,0.0,0.009711,2015
55363,55363,70868.0,Missing/Undefined,38.342719,-120.695967,CA,Sep,22,0,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.124683,2015
55365,55365,3261.0,Miscellaneous,40.604300,-123.080450,CA,Jul,43,15,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.178206,2015

### Change Putout Time to integer

In [17]:
df_new["putout_time"].value_counts

<bound method IndexOpsMixin.value_counts of 3        0 days 00:00:00.000000000
9        0 days 00:00:00.000000000
22       0 days 00:00:00.000000000
24       0 days 00:00:00.000000000
26       0 days 00:00:00.000000000
                   ...
55349                            6
55350                            2
55351                            5
55363                           22
55365                           43
Name: putout_time, Length: 25133, dtype: object>

In [18]:
df_new["putout_time"]=df_new["putout_time"].map(lambda x : 0 if x[:6]=="0 days" else x)
df_new

C:\Users\KATLIN\AppData\Local\Temp/ipykernel_10736/3139877183.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new["putout_time"]=df_new["putout_time"].map(lambda x : 0 if x[:6]=="0 days" else x)

,fire_id,fire_size,stat_cause_descr,latitude,longitude,state,discovery_month,putout_time,Vegetation,Temp_pre_30,...,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness,year
3,3,1.0,Debris Burning,39.641400,-119.308300,NV,Jun,0,0,16.275967,...,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,0.487447,2005
9,9,1.0,Miscellaneous,48.839400,-99.718500,ND,Apr,0,15,4.600950,...,64.606509,55.943038,54.337838,0.000000,12.3,1.8,0.0,0.0,0.291683,2004
22,22,2.0,Miscellaneous,40.843386,-73.316419,NY,Apr,0,15,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.054988,2004
24,24,40.0,Arson,31.435181,-88.999489,MS,Apr,0,12,13.468619,...,57.997207,56.747191,59.614458,0.000000,0.0,0.0,0.0,0.0,0.199485,1999
26,26,2.0,Debris Burning,35.718900,-92.335000,AR,Jan,0,15,3.490698,...,76.091398,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.227270,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55349,55349,17831.0,Miscellaneous,30.005000,-100.391167,TX,Aug,6,12,28.113120,...,60.470917,56.987013,58.615538,58.243619,0.0,0.0,0.0,0.0,0.451149,2015
55350,55350,3452.0,Miscellaneous,30.400883,-101.331933,TX,Aug,2,12,31.270833,...,44.411268,47.176638,47.944785,39.510638,4.6,4.6,0.0,0.0,0.429604,2015
55351,55351,8300.0,Miscellaneous,45.922100,-111.422500,MT,Oct,5,15,12.855921,...,60.914780,62.120643,66.795455,48.628099,15.8,2.8,2.8,0.0,0.009711,2015
55363,55363,70868.0,Missing/Undefined,38.342719,-120.695967,CA,Sep,22,0,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.124683,2015
55365,55365,3261.0,Miscellaneous,40.604300,-123.080450,CA,Jul,43,15,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.178206,2015

In [19]:
df_new.loc[df_new["putout_time"]==0]

,fire_id,fire_size,stat_cause_descr,latitude,longitude,state,discovery_month,putout_time,Vegetation,Temp_pre_30,...,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness,year
3,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,0,0,16.275967,...,44.778429,37.140811,35.353846,0.0,10.4,7.2,0.0,0.0,0.487447,2005
9,9,1.00,Miscellaneous,48.839400,-99.718500,ND,Apr,0,15,4.600950,...,64.606509,55.943038,54.337838,0.0,12.3,1.8,0.0,0.0,0.291683,2004
22,22,2.00,Miscellaneous,40.843386,-73.316419,NY,Apr,0,15,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,-1.0,0.054988,2004
24,24,40.00,Arson,31.435181,-88.999489,MS,Apr,0,12,13.468619,...,57.997207,56.747191,59.614458,0.0,0.0,0.0,0.0,0.0,0.199485,1999
26,26,2.00,Debris Burning,35.718900,-92.335000,AR,Jan,0,15,3.490698,...,76.091398,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.227270,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49988,49988,1.10,Debris Burning,33.717731,-83.228058,GA,Dec,0,16,8.169864,...,73.003354,68.946667,74.368534,0.0,0.0,0.0,0.0,0.0,0.145718,2013
49989,49989,3.50,Miscellaneous,42.412639,-73.674227,NY,Mar,0,9,-1.564737,...,67.689175,61.765854,54.763441,0.0,57.8,19.5,2.5,0.0,0.057448,2009
49994,49994,1.00,Miscellaneous,37.976100,-90.759000,MO,Apr,0,0,9.162112,...,61.657784,63.733396,58.176353,0.0,91.6,69.4,16.0,0.0,0.211468,2014
49995,49995,1.00,Children,47.270800,-95.621400,MN,Mar,0,15,-9.592386,...,74.901503,78.071125,76.389262,0.0,0.0,0.0,0.0,0.0,0.253276,2003
49997,49997,1.16,Debris Burning,31.035600,-83.177500,GA,Mar,0,12,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,-1.0,0.147185,1996

In [20]:
df_new["putout_time"].unique()

array([0, '1 days 00:00:00.000000000', '2 days 00:00:00.000000000',
       '3 days 00:00:00.000000000', '26 days 00:00:00.000000000',
       '9 days 00:00:00.000000000', '18 days 00:00:00.000000000',
       '5 days 00:00:00.000000000', '16 days 00:00:00.000000000',
       '4 days 00:00:00.000000000', '7 days 00:00:00.000000000',
       '19 days 00:00:00.000000000', '12 days 00:00:00.000000000',
       '6 days 00:00:00.000000000', '167 days 00:00:00.000000000',
       '69 days 00:00:00.000000000', '8 days 00:00:00.000000000',
       '31 days 00:00:00.000000000', '36 days 00:00:00.000000000',
       '15 days 00:00:00.000000000', '92 days 00:00:00.000000000',
       '91 days 00:00:00.000000000', '10 days 00:00:00.000000000',
       '11 days 00:00:00.000000000', '63 days 00:00:00.000000000',
       '118 days 00:00:00.000000000', '59 days 00:00:00.000000000',
       '93 days 00:00:00.000000000', '28 days 00:00:00.000000000',
       '127 days 00:00:00.000000000', '50 days 00:00:00.000000000',
       '30 days 00:00:00.000000000', '152 days 00:00:00.000000000',
       '54 days 00:00:00.000000000', '13 days 00:00:00.000000000',
       '25 days 00:00:00.000000000', '47 days 00:00:00.000000000',
       '55 days 00:00:00.000000000', '108 days 00:00:00.000000000',
       '39 days 00:00:00.000000000', '104 days 00:00:00.000000000',
       '17 days 00:00:00.000000000', '80 days 00:00:00.000000000',
       '22 days 00:00:00.000000000', '20 days 00:00:00.000000000',
       '97 days 00:00:00.000000000', '84 days 00:00:00.000000000',
       '81 days 00:00:00.000000000', '67 days 00:00:00.000000000',
       '14 days 00:00:00.000000000', '60 days 00:00:00.000000000',
       '62 days 00:00:00.000000000', '103 days 00:00:00.000000000',
       '24 days 00:00:00.000000000', '193 days 00:00:00.000000000',
       '117 days 00:00:00.000000000', '41 days 00:00:00.000000000',
       '61 days 00:00:00.000000000', '145 days 00:00:00.000000000',
       '106 days 00:00:00.000000000', '94 days 00:00:00.000000000',
       '70 days 00:00:00.000000000', '43 days 00:00:00.000000000',
       '90 days 00:00:00.000000000', '35 days 00:00:00.000000000',
       '40 days 00:00:00.000000000', '21 days 00:00:00.000000000',
       '65 days 00:00:00.000000000', '23 days 00:00:00.000000000',
       '89 days 00:00:00.000000000', '114 days 00:00:00.000000000',
       '57 days 00:00:00.000000000', '27 days 00:00:00.000000000',
       '46 days 00:00:00.000000000', '87 days 00:00:00.000000000',
       '74 days 00:00:00.000000000', '37 days 00:00:00.000000000',
       '42 days 00:00:00.000000000', '73 days 00:00:00.000000000',
       '148 days 00:00:00.000000000', '141 days 00:00:00.000000000',
       '122 days 00:00:00.000000000', '66 days 00:00:00.000000000',
       '44 days 00:00:00.000000000', '88 days 00:00:00.000000000',
       '161 days 00:00:00.000000000', '34 days 00:00:00.000000000',
       '132 days 00:00:00.000000000', '140 days 00:00:00.000000000',
       '45 days 00:00:00.000000000', '29 days 00:00:00.000000000',
       '102 days 00:00:00.000000000', '121 days 00:00:00.000000000',
       '51 days 00:00:00.000000000', '261 days 00:00:00.000000000',
       '77 days 00:00:00.000000000', '48 days 00:00:00.000000000',
       '53 days 00:00:00.000000000', '71 days 00:00:00.000000000',
       '56 days 00:00:00.000000000', '79 days 00:00:00.000000000',
       '85 days 00:00:00.000000000', '222 days 00:00:00.000000000',
       '76 days 00:00:00.000000000', '58 days 00:00:00.000000000',
       '72 days 00:00:00.000000000', '83 days 00:00:00.000000000',
       '32 days 00:00:00.000000000', '131 days 00:00:00.000000000',
       '52 days 00:00:00.000000000', '99 days 00:00:00.000000000',
       '112 days 00:00:00.000000000', '213 days 00:00:00.000000000',
       '68 days 00:00:00.000000000', '33 days 00:00:00.000000000',
       '101 days 00:00:00.000000000', '64 days 00:00:00.000000000',
       '38 days 00:00:00.000000000', '165 days 00:00:00.000000000',
       '119 days 00:00:00.000000000', '146 days 00:00:00.000000000',
       '136 days 00:00:00.000000000', '110 days 00:00:00.000000000',
       '255 days 00:00:00.000000000', '86 days 00:00:00.000000000',
       '49 days 00:00:00.000000000', '184 days 00:00:00.000000000',
       '78 days 00:00:00.000000000', '96 days 00:00:00.000000000',
       '3287 days 00:00:00.000000000', '178 days 00:00:00.000000000',
       '21', '11', '77', '75', '87', '67', '66', '22', '10', '2', '9',
       '1', '3', '6', '18', '12', '5', '13', '27', '8', '7', '4', '0',
       '82', '32', '80', '49', '60', '99', '91', '84', '78', '54', '71',
       '51', '30', '14', '94', '45', '42', '56', '58', '55', '33', '53',
       '17', '31', '23', '29', '50', '92', '79', '47', '20', '15', '115',
       '28', '46', '73', '72', '83', '90', '88', '89', '64', '81', '19',
       '37', '39', '43', '38', '101', '24', '112', '86', '74', '26',
       '110', '108', '35', '44', '36', '59', '70', '96', '34', '48',
       '116', '63', '40', '98', '85', '16', '102', '131', '142', '128',
       '76', '25', '52', '68', '93', '118', '107', '97', '104', '65',
       '129', '111', '106', '103', '114', '61', '62', '122', '121', '41',
       '144', '155', '117', '57', '105', '119', '113', '138', '100',
       '312', '125', '95', '132', '126', '164', '120', '163', '184',
       '177', '145', '134', '109', '127', '147', '124', '141', '139',
       '150', '123', '69', '137', '148', '136', '151', '140', '133',
       '146', '204', '178', '143', '237', '153', '371', '170'],
      dtype=object)

In [21]:
# Adding these columns to the existing dataframe.
df_new[['A', 'B']] = df_new['putout_time'].str.split(' ', 1, expand=True)

df_new

c:\Users\KATLIN\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,fire_id,fire_size,stat_cause_descr,latitude,longitude,state,discovery_month,putout_time,Vegetation,Temp_pre_30,...,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness,year,A,B
3,3,1.0,Debris Burning,39.641400,-119.308300,NV,Jun,0,0,16.275967,...,35.353846,0.000000,10.4,7.2,0.0,0.0,0.487447,2005,NaN,NaN
9,9,1.0,Miscellaneous,48.839400,-99.718500,ND,Apr,0,15,4.600950,...,54.337838,0.000000,12.3,1.8,0.0,0.0,0.291683,2004,NaN,NaN
22,22,2.0,Miscellaneous,40.843386,-73.316419,NY,Apr,0,15,-1.000000,...,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.054988,2004,NaN,NaN
24,24,40.0,Arson,31.435181,-88.999489,MS,Apr,0,12,13.468619,...,59.614458,0.000000,0.0,0.0,0.0,0.0,0.199485,1999,NaN,NaN
26,26,2.0,Debris Burning,35.718900,-92.335000,AR,Jan,0,15,3.490698,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.227270,2014,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55349,55349,17831.0,Miscellaneous,30.005000,-100.391167,TX,Aug,6,12,28.113120,...,58.615538,58.243619,0.0,0.0,0.0,0.0,0.451149,2015,6,None
55350,55350,3452.0,Miscellaneous,30.400883,-101.331933,TX,Aug,2,12,31.270833,...,47.944785,39.510638,4.6,4.6,0.0,0.0,0.429604,2015,2,None
55351,55351,8300.0,Miscellaneous,45.922100,-111.422500,MT,Oct,5,15,12.855921,...,66.795455,48.628099,15.8,2.8,2.8,0.0,0.009711,2015,5,None
55363,55363,70868.0,Missing/Undefined,38.342719,-120.695967,CA,Sep,22,0,-1.000000,...,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.124683,2015,22,None
55365,55365,3261.0,Miscellaneous,40.604300,-123.080450,CA,Jul,43,15,-1.000000,...,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.178206,2015,43,None

In [22]:
df_new["A"].unique()

array([nan, '1', '2', '3', '26', '9', '18', '5', '16', '4', '7', '19',
       '12', '6', '167', '69', '8', '31', '36', '15', '92', '91', '10',
       '11', '63', '118', '59', '93', '28', '127', '50', '30', '152',
       '54', '13', '25', '47', '55', '108', '39', '104', '17', '80', '22',
       '20', '97', '84', '81', '67', '14', '60', '62', '103', '24', '193',
       '117', '41', '61', '145', '106', '94', '70', '43', '90', '35',
       '40', '21', '65', '23', '89', '114', '57', '27', '46', '87', '74',
       '37', '42', '73', '148', '141', '122', '66', '44', '88', '161',
       '34', '132', '140', '45', '29', '102', '121', '51', '261', '77',
       '48', '53', '71', '56', '79', '85', '222', '76', '58', '72', '83',
       '32', '131', '52', '99', '112', '213', '68', '33', '101', '64',
       '38', '165', '119', '146', '136', '110', '255', '86', '49', '184',
       '78', '96', '3287', '178', '75', '0', '82', '115', '116', '98',
       '142', '128', '107', '129', '111', '144', '155', '105', '113',
       '138', '100', '312', '125', '95', '126', '164', '120', '163',
       '177', '134', '109', '147', '124', '139', '150', '123', '137',
       '151', '133', '204', '143', '237', '153', '371', '170'],
      dtype=object)

In [23]:
df_new[df_new["A"].isnull()]

,fire_id,fire_size,stat_cause_descr,latitude,longitude,state,discovery_month,putout_time,Vegetation,Temp_pre_30,...,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness,year,A,B
3,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,0,0,16.275967,...,35.353846,0.0,10.4,7.2,0.0,0.0,0.487447,2005,NaN,NaN
9,9,1.00,Miscellaneous,48.839400,-99.718500,ND,Apr,0,15,4.600950,...,54.337838,0.0,12.3,1.8,0.0,0.0,0.291683,2004,NaN,NaN
22,22,2.00,Miscellaneous,40.843386,-73.316419,NY,Apr,0,15,-1.000000,...,-1.000000,-1.0,-1.0,-1.0,-1.0,-1.0,0.054988,2004,NaN,NaN
24,24,40.00,Arson,31.435181,-88.999489,MS,Apr,0,12,13.468619,...,59.614458,0.0,0.0,0.0,0.0,0.0,0.199485,1999,NaN,NaN
26,26,2.00,Debris Burning,35.718900,-92.335000,AR,Jan,0,15,3.490698,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.227270,2014,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49988,49988,1.10,Debris Burning,33.717731,-83.228058,GA,Dec,0,16,8.169864,...,74.368534,0.0,0.0,0.0,0.0,0.0,0.145718,2013,NaN,NaN
49989,49989,3.50,Miscellaneous,42.412639,-73.674227,NY,Mar,0,9,-1.564737,...,54.763441,0.0,57.8,19.5,2.5,0.0,0.057448,2009,NaN,NaN
49994,49994,1.00,Miscellaneous,37.976100,-90.759000,MO,Apr,0,0,9.162112,...,58.176353,0.0,91.6,69.4,16.0,0.0,0.211468,2014,NaN,NaN
49995,49995,1.00,Children,47.270800,-95.621400,MN,Mar,0,15,-9.592386,...,76.389262,0.0,0.0,0.0,0.0,0.0,0.253276,2003,NaN,NaN
49997,49997,1.16,Debris Burning,31.035600,-83.177500,GA,Mar,0,12,-1.000000,...,-1.000000,-1.0,-1.0,-1.0,-1.0,-1.0,0.147185,1996,NaN,NaN

In [24]:
df_new['A'] = df_new['A'].replace(np.nan, 0)
df_new

C:\Users\KATLIN\AppData\Local\Temp/ipykernel_10736/2335287106.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['A'] = df_new['A'].replace(np.nan, 0)

,fire_id,fire_size,stat_cause_descr,latitude,longitude,state,discovery_month,putout_time,Vegetation,Temp_pre_30,...,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness,year,A,B
3,3,1.0,Debris Burning,39.641400,-119.308300,NV,Jun,0,0,16.275967,...,35.353846,0.000000,10.4,7.2,0.0,0.0,0.487447,2005,0,NaN
9,9,1.0,Miscellaneous,48.839400,-99.718500,ND,Apr,0,15,4.600950,...,54.337838,0.000000,12.3,1.8,0.0,0.0,0.291683,2004,0,NaN
22,22,2.0,Miscellaneous,40.843386,-73.316419,NY,Apr,0,15,-1.000000,...,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.054988,2004,0,NaN
24,24,40.0,Arson,31.435181,-88.999489,MS,Apr,0,12,13.468619,...,59.614458,0.000000,0.0,0.0,0.0,0.0,0.199485,1999,0,NaN
26,26,2.0,Debris Burning,35.718900,-92.335000,AR,Jan,0,15,3.490698,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.227270,2014,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55349,55349,17831.0,Miscellaneous,30.005000,-100.391167,TX,Aug,6,12,28.113120,...,58.615538,58.243619,0.0,0.0,0.0,0.0,0.451149,2015,6,None
55350,55350,3452.0,Miscellaneous,30.400883,-101.331933,TX,Aug,2,12,31.270833,...,47.944785,39.510638,4.6,4.6,0.0,0.0,0.429604,2015,2,None
55351,55351,8300.0,Miscellaneous,45.922100,-111.422500,MT,Oct,5,15,12.855921,...,66.795455,48.628099,15.8,2.8,2.8,0.0,0.009711,2015,5,None
55363,55363,70868.0,Missing/Undefined,38.342719,-120.695967,CA,Sep,22,0,-1.000000,...,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.124683,2015,22,None
55365,55365,3261.0,Miscellaneous,40.604300,-123.080450,CA,Jul,43,15,-1.000000,...,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.178206,2015,43,None

In [25]:
df_new.dtypes

fire_id               int64
fire_size           float64
stat_cause_descr     object
latitude            float64
longitude           float64
state                object
discovery_month      object
putout_time          object
Vegetation            int64
Temp_pre_30         float64
Temp_pre_15         float64
Temp_pre_7          float64
Temp_cont           float64
Wind_pre_30         float64
Wind_pre_15         float64
Wind_pre_7          float64
Wind_cont           float64
Hum_pre_30          float64
Hum_pre_15          float64
Hum_pre_7           float64
Hum_cont            float64
Prec_pre_30         float64
Prec_pre_15         float64
Prec_pre_7          float64
Prec_cont           float64
remoteness          float64
year                  int64
A                    object
B                    object
dtype: object

In [26]:
df_new = df_new.astype({"A":'int64'}) 
df_new.dtypes

fire_id               int64
fire_size           float64
stat_cause_descr     object
latitude            float64
longitude           float64
state                object
discovery_month      object
putout_time          object
Vegetation            int64
Temp_pre_30         float64
Temp_pre_15         float64
Temp_pre_7          float64
Temp_cont           float64
Wind_pre_30         float64
Wind_pre_15         float64
Wind_pre_7          float64
Wind_cont           float64
Hum_pre_30          float64
Hum_pre_15          float64
Hum_pre_7           float64
Hum_cont            float64
Prec_pre_30         float64
Prec_pre_15         float64
Prec_pre_7          float64
Prec_cont           float64
remoteness          float64
year                  int64
A                     int64
B                    object
dtype: object

In [27]:
df_new.drop(["putout_time", "B"], axis=1, inplace=True)
df_new

,fire_id,fire_size,stat_cause_descr,latitude,longitude,state,discovery_month,Vegetation,Temp_pre_30,Temp_pre_15,...,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness,year,A
3,3,1.0,Debris Burning,39.641400,-119.308300,NV,Jun,0,16.275967,18.996181,...,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,0.487447,2005,0
9,9,1.0,Miscellaneous,48.839400,-99.718500,ND,Apr,15,4.600950,6.861878,...,55.943038,54.337838,0.000000,12.3,1.8,0.0,0.0,0.291683,2004,0
22,22,2.0,Miscellaneous,40.843386,-73.316419,NY,Apr,15,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.054988,2004,0
24,24,40.0,Arson,31.435181,-88.999489,MS,Apr,12,13.468619,15.067227,...,56.747191,59.614458,0.000000,0.0,0.0,0.0,0.0,0.199485,1999,0
26,26,2.0,Debris Burning,35.718900,-92.335000,AR,Jan,15,3.490698,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.227270,2014,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55349,55349,17831.0,Miscellaneous,30.005000,-100.391167,TX,Aug,12,28.113120,28.826531,...,56.987013,58.615538,58.243619,0.0,0.0,0.0,0.0,0.451149,2015,6
55350,55350,3452.0,Miscellaneous,30.400883,-101.331933,TX,Aug,12,31.270833,30.603352,...,47.176638,47.944785,39.510638,4.6,4.6,0.0,0.0,0.429604,2015,2
55351,55351,8300.0,Miscellaneous,45.922100,-111.422500,MT,Oct,15,12.855921,11.724403,...,62.120643,66.795455,48.628099,15.8,2.8,2.8,0.0,0.009711,2015,5
55363,55363,70868.0,Missing/Undefined,38.342719,-120.695967,CA,Sep,0,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.124683,2015,22
55365,55365,3261.0,Miscellaneous,40.604300,-123.080450,CA,Jul,15,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.178206,2015,43

In [28]:
df_new.rename(columns = {'A':'putout_time'}, inplace=True)
df_new

,fire_id,fire_size,stat_cause_descr,latitude,longitude,state,discovery_month,Vegetation,Temp_pre_30,Temp_pre_15,...,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness,year,putout_time
3,3,1.0,Debris Burning,39.641400,-119.308300,NV,Jun,0,16.275967,18.996181,...,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,0.487447,2005,0
9,9,1.0,Miscellaneous,48.839400,-99.718500,ND,Apr,15,4.600950,6.861878,...,55.943038,54.337838,0.000000,12.3,1.8,0.0,0.0,0.291683,2004,0
22,22,2.0,Miscellaneous,40.843386,-73.316419,NY,Apr,15,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.054988,2004,0
24,24,40.0,Arson,31.435181,-88.999489,MS,Apr,12,13.468619,15.067227,...,56.747191,59.614458,0.000000,0.0,0.0,0.0,0.0,0.199485,1999,0
26,26,2.0,Debris Burning,35.718900,-92.335000,AR,Jan,15,3.490698,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.227270,2014,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55349,55349,17831.0,Miscellaneous,30.005000,-100.391167,TX,Aug,12,28.113120,28.826531,...,56.987013,58.615538,58.243619,0.0,0.0,0.0,0.0,0.451149,2015,6
55350,55350,3452.0,Miscellaneous,30.400883,-101.331933,TX,Aug,12,31.270833,30.603352,...,47.176638,47.944785,39.510638,4.6,4.6,0.0,0.0,0.429604,2015,2
55351,55351,8300.0,Miscellaneous,45.922100,-111.422500,MT,Oct,15,12.855921,11.724403,...,62.120643,66.795455,48.628099,15.8,2.8,2.8,0.0,0.009711,2015,5
55363,55363,70868.0,Missing/Undefined,38.342719,-120.695967,CA,Sep,0,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.124683,2015,22
55365,55365,3261.0,Miscellaneous,40.604300,-123.080450,CA,Jul,15,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.178206,2015,43

### Change name of fire cause column to more relevant name

In [29]:
df_new.rename(columns = {'stat_cause_descr':'fire_cause'}, inplace = True)
df_new

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Vegetation,Temp_pre_30,Temp_pre_15,...,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness,year,putout_time
3,3,1.0,Debris Burning,39.641400,-119.308300,NV,Jun,0,16.275967,18.996181,...,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,0.487447,2005,0
9,9,1.0,Miscellaneous,48.839400,-99.718500,ND,Apr,15,4.600950,6.861878,...,55.943038,54.337838,0.000000,12.3,1.8,0.0,0.0,0.291683,2004,0
22,22,2.0,Miscellaneous,40.843386,-73.316419,NY,Apr,15,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.054988,2004,0
24,24,40.0,Arson,31.435181,-88.999489,MS,Apr,12,13.468619,15.067227,...,56.747191,59.614458,0.000000,0.0,0.0,0.0,0.0,0.199485,1999,0
26,26,2.0,Debris Burning,35.718900,-92.335000,AR,Jan,15,3.490698,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.227270,2014,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55349,55349,17831.0,Miscellaneous,30.005000,-100.391167,TX,Aug,12,28.113120,28.826531,...,56.987013,58.615538,58.243619,0.0,0.0,0.0,0.0,0.451149,2015,6
55350,55350,3452.0,Miscellaneous,30.400883,-101.331933,TX,Aug,12,31.270833,30.603352,...,47.176638,47.944785,39.510638,4.6,4.6,0.0,0.0,0.429604,2015,2
55351,55351,8300.0,Miscellaneous,45.922100,-111.422500,MT,Oct,15,12.855921,11.724403,...,62.120643,66.795455,48.628099,15.8,2.8,2.8,0.0,0.009711,2015,5
55363,55363,70868.0,Missing/Undefined,38.342719,-120.695967,CA,Sep,0,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.124683,2015,22
55365,55365,3261.0,Miscellaneous,40.604300,-123.080450,CA,Jul,15,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.178206,2015,43

### Drop Vegetation and Remoteness columns due to lack of relevance

In [30]:
df_new=df_new.drop(columns="Vegetation")

In [31]:
df_new.columns

Index(['fire_id', 'fire_size', 'fire_cause', 'latitude', 'longitude', 'state',
       'discovery_month', 'Temp_pre_30', 'Temp_pre_15', 'Temp_pre_7',
       'Temp_cont', 'Wind_pre_30', 'Wind_pre_15', 'Wind_pre_7', 'Wind_cont',
       'Hum_pre_30', 'Hum_pre_15', 'Hum_pre_7', 'Hum_cont', 'Prec_pre_30',
       'Prec_pre_15', 'Prec_pre_7', 'Prec_cont', 'remoteness', 'year',
       'putout_time'],
      dtype='object')

In [32]:
df_new.drop(columns="remoteness", axis=1, inplace=True)
df_new

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,...,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,year,putout_time
3,3,1.0,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,...,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,2005,0
9,9,1.0,Miscellaneous,48.839400,-99.718500,ND,Apr,4.600950,6.861878,6.053333,...,64.606509,55.943038,54.337838,0.000000,12.3,1.8,0.0,0.0,2004,0
22,22,2.0,Miscellaneous,40.843386,-73.316419,NY,Apr,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,2004,0
24,24,40.0,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,...,57.997207,56.747191,59.614458,0.000000,0.0,0.0,0.0,0.0,1999,0
26,26,2.0,Debris Burning,35.718900,-92.335000,AR,Jan,3.490698,0.000000,0.000000,...,76.091398,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,2014,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55349,55349,17831.0,Miscellaneous,30.005000,-100.391167,TX,Aug,28.113120,28.826531,28.850598,...,60.470917,56.987013,58.615538,58.243619,0.0,0.0,0.0,0.0,2015,6
55350,55350,3452.0,Miscellaneous,30.400883,-101.331933,TX,Aug,31.270833,30.603352,30.543452,...,44.411268,47.176638,47.944785,39.510638,4.6,4.6,0.0,0.0,2015,2
55351,55351,8300.0,Miscellaneous,45.922100,-111.422500,MT,Oct,12.855921,11.724403,10.420339,...,60.914780,62.120643,66.795455,48.628099,15.8,2.8,2.8,0.0,2015,5
55363,55363,70868.0,Missing/Undefined,38.342719,-120.695967,CA,Sep,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,2015,22
55365,55365,3261.0,Miscellaneous,40.604300,-123.080450,CA,Jul,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,2015,43

In [33]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25133 entries, 3 to 55365
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fire_id          25133 non-null  int64
 1   fire_size        25133 non-null  float64
 2   fire_cause       25133 non-null  object
 3   latitude         25133 non-null  float64
 4   longitude        25133 non-null  float64
 5   state            25133 non-null  object
 6   discovery_month  25133 non-null  object
 7   Temp_pre_30      25133 non-null  float64
 8   Temp_pre_15      25133 non-null  float64
 9   Temp_pre_7       25133 non-null  float64
 10  Temp_cont        25133 non-null  float64
 11  Wind_pre_30      25133 non-null  float64
 12  Wind_pre_15      25133 non-null  float64
 13  Wind_pre_7       25133 non-null  float64
 14  Wind_cont        25133 non-null  float64
 15  Hum_pre_30       25133 non-null  float64
 16  Hum_pre_15       25133 non-null  float64
 17  Hum_pre_7        25133 non-null  float64
 18  Hum_cont         25133 non-null  float64
 19  Prec_pre_30      25133 non-null  float64
 20  Prec_pre_15      25133 non-null  float64
 21  Prec_pre_7       25133 non-null  float64
 22  Prec_cont        25133 non-null  float64
 23  year             25133 non-null  int64
 24  putout_time      25133 non-null  int64
dtypes: float64(19), int64(3), object(3)
memory usage: 5.0+ MB

### Drop rows with temps of -1.000 due to preceived concern about accuracy

In [34]:
df_new.loc[(df["Temp_pre_30"]!=-1.0)]

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,...,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,year,putout_time
3,3,1.0,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,...,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,2005,0
9,9,1.0,Miscellaneous,48.839400,-99.718500,ND,Apr,4.600950,6.861878,6.053333,...,64.606509,55.943038,54.337838,0.000000,12.3,1.8,0.0,0.0,2004,0
24,24,40.0,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,...,57.997207,56.747191,59.614458,0.000000,0.0,0.0,0.0,0.0,1999,0
26,26,2.0,Debris Burning,35.718900,-92.335000,AR,Jan,3.490698,0.000000,0.000000,...,76.091398,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,2014,0
31,31,1.2,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,...,77.575012,75.963981,71.173116,0.000000,21.2,21.2,9.2,0.0,2007,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55342,55342,5086.0,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,...,51.676681,46.933399,42.638384,28.844444,0.0,0.0,0.0,0.0,2015,5
55343,55343,5963.0,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,...,51.541802,53.945191,56.257500,49.915194,0.0,0.0,0.0,0.0,2015,10
55349,55349,17831.0,Miscellaneous,30.005000,-100.391167,TX,Aug,28.113120,28.826531,28.850598,...,60.470917,56.987013,58.615538,58.243619,0.0,0.0,0.0,0.0,2015,6
55350,55350,3452.0,Miscellaneous,30.400883,-101.331933,TX,Aug,31.270833,30.603352,30.543452,...,44.411268,47.176638,47.944785,39.510638,4.6,4.6,0.0,0.0,2015,2
55351,55351,8300.0,Miscellaneous,45.922100,-111.422500,MT,Oct,12.855921,11.724403,10.420339,...,60.914780,62.120643,66.795455,48.628099,15.8,2.8,2.8,0.0,2015,5

In [35]:
df_new= df_new[df_new.Temp_pre_30 != -1.0]
df_new

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,...,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,year,putout_time
3,3,1.0,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,...,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,2005,0
9,9,1.0,Miscellaneous,48.839400,-99.718500,ND,Apr,4.600950,6.861878,6.053333,...,64.606509,55.943038,54.337838,0.000000,12.3,1.8,0.0,0.0,2004,0
24,24,40.0,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,...,57.997207,56.747191,59.614458,0.000000,0.0,0.0,0.0,0.0,1999,0
26,26,2.0,Debris Burning,35.718900,-92.335000,AR,Jan,3.490698,0.000000,0.000000,...,76.091398,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,2014,0
31,31,1.2,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,...,77.575012,75.963981,71.173116,0.000000,21.2,21.2,9.2,0.0,2007,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55342,55342,5086.0,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,...,51.676681,46.933399,42.638384,28.844444,0.0,0.0,0.0,0.0,2015,5
55343,55343,5963.0,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,...,51.541802,53.945191,56.257500,49.915194,0.0,0.0,0.0,0.0,2015,10
55349,55349,17831.0,Miscellaneous,30.005000,-100.391167,TX,Aug,28.113120,28.826531,28.850598,...,60.470917,56.987013,58.615538,58.243619,0.0,0.0,0.0,0.0,2015,6
55350,55350,3452.0,Miscellaneous,30.400883,-101.331933,TX,Aug,31.270833,30.603352,30.543452,...,44.411268,47.176638,47.944785,39.510638,4.6,4.6,0.0,0.0,2015,2
55351,55351,8300.0,Miscellaneous,45.922100,-111.422500,MT,Oct,12.855921,11.724403,10.420339,...,60.914780,62.120643,66.795455,48.628099,15.8,2.8,2.8,0.0,2015,5

In [36]:
#df_new.to_csv("Resources/cleaned_wildfire_10.csv", index=False)

-----------------------------------------

-------------------------------------

# Second Round of Cleaning: Clean up Fire Causes

### Import Initial Dependency & Read Cleaned CSV

In [37]:
import pandas as pd

df=pd.read_csv("Resources_k/cleaned_wildfire_10.csv",index_col=False)
df

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,...,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,year,putout_time
0,3,1.0,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,...,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,2005,0
1,9,1.0,Miscellaneous,48.839400,-99.718500,ND,Apr,4.600950,6.861878,6.053333,...,64.606509,55.943038,54.337838,0.000000,12.3,1.8,0.0,0.0,2004,0
2,24,40.0,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,...,57.997207,56.747191,59.614458,0.000000,0.0,0.0,0.0,0.0,1999,0
3,26,2.0,Debris Burning,35.718900,-92.335000,AR,Jan,3.490698,0.000000,0.000000,...,76.091398,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,2014,0
4,31,1.2,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,...,77.575012,75.963981,71.173116,0.000000,21.2,21.2,9.2,0.0,2007,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18913,55342,5086.0,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,...,51.676681,46.933399,42.638384,28.844444,0.0,0.0,0.0,0.0,2015,5
18914,55343,5963.0,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,...,51.541802,53.945191,56.257500,49.915194,0.0,0.0,0.0,0.0,2015,10
18915,55349,17831.0,Miscellaneous,30.005000,-100.391167,TX,Aug,28.113120,28.826531,28.850598,...,60.470917,56.987013,58.615538,58.243619,0.0,0.0,0.0,0.0,2015,6
18916,55350,3452.0,Miscellaneous,30.400883,-101.331933,TX,Aug,31.270833,30.603352,30.543452,...,44.411268,47.176638,47.944785,39.510638,4.6,4.6,0.0,0.0,2015,2
18917,55351,8300.0,Miscellaneous,45.922100,-111.422500,MT,Oct,12.855921,11.724403,10.420339,...,60.914780,62.120643,66.795455,48.628099,15.8,2.8,2.8,0.0,2015,5

### Bin "Fire Causes" to reduce categories

In [38]:

df.loc[(df["fire_cause"] == "Missing/Undefined") |
       (df["fire_cause"] == "Structure") |
       (df["fire_cause"] == "Miscellaneous"), "fire_cause"] = "Other"

df

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,...,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,year,putout_time
0,3,1.0,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,...,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,2005,0
1,9,1.0,Other,48.839400,-99.718500,ND,Apr,4.600950,6.861878,6.053333,...,64.606509,55.943038,54.337838,0.000000,12.3,1.8,0.0,0.0,2004,0
2,24,40.0,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,...,57.997207,56.747191,59.614458,0.000000,0.0,0.0,0.0,0.0,1999,0
3,26,2.0,Debris Burning,35.718900,-92.335000,AR,Jan,3.490698,0.000000,0.000000,...,76.091398,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,2014,0
4,31,1.2,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,...,77.575012,75.963981,71.173116,0.000000,21.2,21.2,9.2,0.0,2007,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18913,55342,5086.0,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,...,51.676681,46.933399,42.638384,28.844444,0.0,0.0,0.0,0.0,2015,5
18914,55343,5963.0,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,...,51.541802,53.945191,56.257500,49.915194,0.0,0.0,0.0,0.0,2015,10
18915,55349,17831.0,Other,30.005000,-100.391167,TX,Aug,28.113120,28.826531,28.850598,...,60.470917,56.987013,58.615538,58.243619,0.0,0.0,0.0,0.0,2015,6
18916,55350,3452.0,Other,30.400883,-101.331933,TX,Aug,31.270833,30.603352,30.543452,...,44.411268,47.176638,47.944785,39.510638,4.6,4.6,0.0,0.0,2015,2
18917,55351,8300.0,Other,45.922100,-111.422500,MT,Oct,12.855921,11.724403,10.420339,...,60.914780,62.120643,66.795455,48.628099,15.8,2.8,2.8,0.0,2015,5

In [39]:
df.loc[(df["fire_cause"] == "Railroad") |
       (df["fire_cause"] == "Powerline") | 
       (df["fire_cause"] == "Equipment Use"), "fire_cause"] = "Utilities"

df

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,...,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,year,putout_time
0,3,1.0,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,...,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,2005,0
1,9,1.0,Other,48.839400,-99.718500,ND,Apr,4.600950,6.861878,6.053333,...,64.606509,55.943038,54.337838,0.000000,12.3,1.8,0.0,0.0,2004,0
2,24,40.0,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,...,57.997207,56.747191,59.614458,0.000000,0.0,0.0,0.0,0.0,1999,0
3,26,2.0,Debris Burning,35.718900,-92.335000,AR,Jan,3.490698,0.000000,0.000000,...,76.091398,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,2014,0
4,31,1.2,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,...,77.575012,75.963981,71.173116,0.000000,21.2,21.2,9.2,0.0,2007,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18913,55342,5086.0,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,...,51.676681,46.933399,42.638384,28.844444,0.0,0.0,0.0,0.0,2015,5
18914,55343,5963.0,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,...,51.541802,53.945191,56.257500,49.915194,0.0,0.0,0.0,0.0,2015,10
18915,55349,17831.0,Other,30.005000,-100.391167,TX,Aug,28.113120,28.826531,28.850598,...,60.470917,56.987013,58.615538,58.243619,0.0,0.0,0.0,0.0,2015,6
18916,55350,3452.0,Other,30.400883,-101.331933,TX,Aug,31.270833,30.603352,30.543452,...,44.411268,47.176638,47.944785,39.510638,4.6,4.6,0.0,0.0,2015,2
18917,55351,8300.0,Other,45.922100,-111.422500,MT,Oct,12.855921,11.724403,10.420339,...,60.914780,62.120643,66.795455,48.628099,15.8,2.8,2.8,0.0,2015,5

In [40]:
df.loc[(df["fire_cause"] == "Campfire") |
       (df["fire_cause"] == "Children") | 
       (df["fire_cause"] == "Smoking") | 
       (df["fire_cause"] == "Fireworks"), "fire_cause"] = "Accidental"

df

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,...,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,year,putout_time
0,3,1.0,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,...,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,2005,0
1,9,1.0,Other,48.839400,-99.718500,ND,Apr,4.600950,6.861878,6.053333,...,64.606509,55.943038,54.337838,0.000000,12.3,1.8,0.0,0.0,2004,0
2,24,40.0,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,...,57.997207,56.747191,59.614458,0.000000,0.0,0.0,0.0,0.0,1999,0
3,26,2.0,Debris Burning,35.718900,-92.335000,AR,Jan,3.490698,0.000000,0.000000,...,76.091398,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,2014,0
4,31,1.2,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,...,77.575012,75.963981,71.173116,0.000000,21.2,21.2,9.2,0.0,2007,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18913,55342,5086.0,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,...,51.676681,46.933399,42.638384,28.844444,0.0,0.0,0.0,0.0,2015,5
18914,55343,5963.0,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,...,51.541802,53.945191,56.257500,49.915194,0.0,0.0,0.0,0.0,2015,10
18915,55349,17831.0,Other,30.005000,-100.391167,TX,Aug,28.113120,28.826531,28.850598,...,60.470917,56.987013,58.615538,58.243619,0.0,0.0,0.0,0.0,2015,6
18916,55350,3452.0,Other,30.400883,-101.331933,TX,Aug,31.270833,30.603352,30.543452,...,44.411268,47.176638,47.944785,39.510638,4.6,4.6,0.0,0.0,2015,2
18917,55351,8300.0,Other,45.922100,-111.422500,MT,Oct,12.855921,11.724403,10.420339,...,60.914780,62.120643,66.795455,48.628099,15.8,2.8,2.8,0.0,2015,5

In [41]:
df.fire_cause.value_counts()

Lightning         4915
Debris Burning    4045
Other             3587
Arson             3396
Accidental        1488
Utilities         1487
Name: fire_cause, dtype: int64

### Drop fires with Fire Cause of "Other" (original categories of Miscellaneous, Missing/Undefined, Structure)

In [42]:
df=df.loc[df["fire_cause"]!="Other"]
df

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,...,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,year,putout_time
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,...,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,2005,0
2,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,...,57.997207,56.747191,59.614458,0.000000,0.0,0.0,0.0,0.0,1999,0
3,26,2.00,Debris Burning,35.718900,-92.335000,AR,Jan,3.490698,0.000000,0.000000,...,76.091398,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,2014,0
4,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,...,77.575012,75.963981,71.173116,0.000000,21.2,21.2,9.2,0.0,2007,0
6,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,...,67.551783,61.733788,60.328571,0.000000,0.0,0.0,0.0,0.0,2000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18910,55336,3409.00,Utilities,31.059000,-98.956367,TX,Aug,30.731860,30.545367,28.719917,...,50.089157,49.416505,55.426471,55.233831,0.0,0.0,0.0,0.0,2015,3
18911,55337,4582.00,Utilities,30.075167,-97.149167,TX,Oct,24.642268,23.713390,24.221869,...,62.848172,60.641975,63.196819,57.279040,5.3,0.0,0.0,8.9,2015,11
18912,55341,17823.00,Accidental,44.834600,-117.220600,OR,Sep,15.546194,12.890633,10.734328,...,55.009259,62.368700,67.266304,58.917679,10.4,10.4,9.4,8.6,2015,39
18913,55342,5086.00,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,...,51.676681,46.933399,42.638384,28.844444,0.0,0.0,0.0,0.0,2015,5
18914,55343,5963.00,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,...,51.541802,53.945191,56.257500,49.915194,0.0,0.0,0.0,0.0,2015,10

### Save cleaned file

In [43]:
df

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,...,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,year,putout_time
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,...,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,2005,0
2,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,...,57.997207,56.747191,59.614458,0.000000,0.0,0.0,0.0,0.0,1999,0
3,26,2.00,Debris Burning,35.718900,-92.335000,AR,Jan,3.490698,0.000000,0.000000,...,76.091398,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,2014,0
4,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,...,77.575012,75.963981,71.173116,0.000000,21.2,21.2,9.2,0.0,2007,0
6,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,...,67.551783,61.733788,60.328571,0.000000,0.0,0.0,0.0,0.0,2000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18910,55336,3409.00,Utilities,31.059000,-98.956367,TX,Aug,30.731860,30.545367,28.719917,...,50.089157,49.416505,55.426471,55.233831,0.0,0.0,0.0,0.0,2015,3
18911,55337,4582.00,Utilities,30.075167,-97.149167,TX,Oct,24.642268,23.713390,24.221869,...,62.848172,60.641975,63.196819,57.279040,5.3,0.0,0.0,8.9,2015,11
18912,55341,17823.00,Accidental,44.834600,-117.220600,OR,Sep,15.546194,12.890633,10.734328,...,55.009259,62.368700,67.266304,58.917679,10.4,10.4,9.4,8.6,2015,39
18913,55342,5086.00,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,...,51.676681,46.933399,42.638384,28.844444,0.0,0.0,0.0,0.0,2015,5
18914,55343,5963.00,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,...,51.541802,53.945191,56.257500,49.915194,0.0,0.0,0.0,0.0,2015,10

In [44]:
#df.to_csv("Resources/cleaned_wildfire_11.csv", index=False)

-------------------------------------------

----------------------------------------------

# Third Round of Cleaning: Prep "Weather Conditions" Data

### Import Initial Dependency & Read CSV

In [45]:
import pandas as pd

In [47]:
df=pd.read_csv("Resources_k/cleaned_wildfire_11.csv")
df

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,...,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,year,putout_time
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,...,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,2005,0
1,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,...,57.997207,56.747191,59.614458,0.000000,0.0,0.0,0.0,0.0,1999,0
2,26,2.00,Debris Burning,35.718900,-92.335000,AR,Jan,3.490698,0.000000,0.000000,...,76.091398,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,2014,0
3,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,...,77.575012,75.963981,71.173116,0.000000,21.2,21.2,9.2,0.0,2007,0
4,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,...,67.551783,61.733788,60.328571,0.000000,0.0,0.0,0.0,0.0,2000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15326,55336,3409.00,Utilities,31.059000,-98.956367,TX,Aug,30.731860,30.545367,28.719917,...,50.089157,49.416505,55.426471,55.233831,0.0,0.0,0.0,0.0,2015,3
15327,55337,4582.00,Utilities,30.075167,-97.149167,TX,Oct,24.642268,23.713390,24.221869,...,62.848172,60.641975,63.196819,57.279040,5.3,0.0,0.0,8.9,2015,11
15328,55341,17823.00,Accidental,44.834600,-117.220600,OR,Sep,15.546194,12.890633,10.734328,...,55.009259,62.368700,67.266304,58.917679,10.4,10.4,9.4,8.6,2015,39
15329,55342,5086.00,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,...,51.676681,46.933399,42.638384,28.844444,0.0,0.0,0.0,0.0,2015,5
15330,55343,5963.00,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,...,51.541802,53.945191,56.257500,49.915194,0.0,0.0,0.0,0.0,2015,10

### Drop Rows with too many zeros

In [48]:
df=df.loc[(df["Temp_pre_30"]!=0) & (df["Temp_pre_15"]!=0) & (df["Temp_pre_7"]!=0) 
                     & (df["Hum_pre_30"]!=0) & (df["Hum_pre_15"]!=0) & (df["Hum_pre_7"]!=0) &
                     (df["Wind_pre_30"]!=0) & (df["Wind_pre_15"]!=0) & (df["Wind_pre_7"]!=0)]

In [49]:
df

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,...,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,year,putout_time
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,...,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,2005,0
1,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,...,57.997207,56.747191,59.614458,0.000000,0.0,0.0,0.0,0.0,1999,0
3,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,...,77.575012,75.963981,71.173116,0.000000,21.2,21.2,9.2,0.0,2007,0
4,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,...,67.551783,61.733788,60.328571,0.000000,0.0,0.0,0.0,0.0,2000,0
5,36,1420.00,Lightning,33.241800,-104.912200,NM,Jul,31.055859,32.523438,34.893333,...,28.783203,25.789062,18.208333,17.058824,2.5,0.0,0.0,0.0,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15326,55336,3409.00,Utilities,31.059000,-98.956367,TX,Aug,30.731860,30.545367,28.719917,...,50.089157,49.416505,55.426471,55.233831,0.0,0.0,0.0,0.0,2015,3
15327,55337,4582.00,Utilities,30.075167,-97.149167,TX,Oct,24.642268,23.713390,24.221869,...,62.848172,60.641975,63.196819,57.279040,5.3,0.0,0.0,8.9,2015,11
15328,55341,17823.00,Accidental,44.834600,-117.220600,OR,Sep,15.546194,12.890633,10.734328,...,55.009259,62.368700,67.266304,58.917679,10.4,10.4,9.4,8.6,2015,39
15329,55342,5086.00,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,...,51.676681,46.933399,42.638384,28.844444,0.0,0.0,0.0,0.0,2015,5
15330,55343,5963.00,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,...,51.541802,53.945191,56.257500,49.915194,0.0,0.0,0.0,0.0,2015,10

In [50]:
df.columns

Index(['fire_id', 'fire_size', 'fire_cause', 'latitude', 'longitude', 'state',
       'discovery_month', 'Temp_pre_30', 'Temp_pre_15', 'Temp_pre_7',
       'Temp_cont', 'Wind_pre_30', 'Wind_pre_15', 'Wind_pre_7', 'Wind_cont',
       'Hum_pre_30', 'Hum_pre_15', 'Hum_pre_7', 'Hum_cont', 'Prec_pre_30',
       'Prec_pre_15', 'Prec_pre_7', 'Prec_cont', 'year', 'putout_time'],
      dtype='object')

In [51]:
df=df.drop(columns=["Prec_pre_30", "Prec_pre_15", "Prec_pre_7", "Prec_cont"])
df

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,...,Wind_pre_30,Wind_pre_15,Wind_pre_7,Wind_cont,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,year,putout_time
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,...,4.054982,3.398329,3.671282,0.000000,44.778429,37.140811,35.353846,0.000000,2005,0
1,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,...,2.038268,1.737921,1.775904,0.000000,57.997207,56.747191,59.614458,0.000000,1999,0
3,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,...,5.800667,6.012852,6.658621,0.000000,77.575012,75.963981,71.173116,0.000000,2007,0
4,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,...,3.659840,3.366443,2.211429,0.000000,67.551783,61.733788,60.328571,0.000000,2000,0
5,36,1420.00,Lightning,33.241800,-104.912200,NM,Jul,31.055859,32.523438,34.893333,...,4.026367,3.844922,3.695833,4.217647,28.783203,25.789062,18.208333,17.058824,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15326,55336,3409.00,Utilities,31.059000,-98.956367,TX,Aug,30.731860,30.545367,28.719917,...,3.136761,3.238803,3.224274,3.299505,50.089157,49.416505,55.426471,55.233831,2015,3
15327,55337,4582.00,Utilities,30.075167,-97.149167,TX,Oct,24.642268,23.713390,24.221869,...,1.529850,1.576828,1.563817,2.145707,62.848172,60.641975,63.196819,57.279040,2015,11
15328,55341,17823.00,Accidental,44.834600,-117.220600,OR,Sep,15.546194,12.890633,10.734328,...,2.608150,2.486802,1.835821,2.292956,55.009259,62.368700,67.266304,58.917679,2015,39
15329,55342,5086.00,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,...,4.428757,4.197593,3.803571,5.543056,51.676681,46.933399,42.638384,28.844444,2015,5
15330,55343,5963.00,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,...,1.580406,1.835639,1.405983,1.684211,51.541802,53.945191,56.257500,49.915194,2015,10

In [52]:
df.columns

Index(['fire_id', 'fire_size', 'fire_cause', 'latitude', 'longitude', 'state',
       'discovery_month', 'Temp_pre_30', 'Temp_pre_15', 'Temp_pre_7',
       'Temp_cont', 'Wind_pre_30', 'Wind_pre_15', 'Wind_pre_7', 'Wind_cont',
       'Hum_pre_30', 'Hum_pre_15', 'Hum_pre_7', 'Hum_cont', 'year',
       'putout_time'],
      dtype='object')

In [53]:
df=df.drop(columns=["Temp_cont", "Wind_cont", "Hum_cont"])
df

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0
1,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0
3,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0
4,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0
5,36,1420.00,Lightning,33.241800,-104.912200,NM,Jul,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15326,55336,3409.00,Utilities,31.059000,-98.956367,TX,Aug,30.731860,30.545367,28.719917,3.136761,3.238803,3.224274,50.089157,49.416505,55.426471,2015,3
15327,55337,4582.00,Utilities,30.075167,-97.149167,TX,Oct,24.642268,23.713390,24.221869,1.529850,1.576828,1.563817,62.848172,60.641975,63.196819,2015,11
15328,55341,17823.00,Accidental,44.834600,-117.220600,OR,Sep,15.546194,12.890633,10.734328,2.608150,2.486802,1.835821,55.009259,62.368700,67.266304,2015,39
15329,55342,5086.00,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,4.428757,4.197593,3.803571,51.676681,46.933399,42.638384,2015,5
15330,55343,5963.00,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,1.580406,1.835639,1.405983,51.541802,53.945191,56.257500,2015,10

In [54]:
df.columns

Index(['fire_id', 'fire_size', 'fire_cause', 'latitude', 'longitude', 'state',
       'discovery_month', 'Temp_pre_30', 'Temp_pre_15', 'Temp_pre_7',
       'Wind_pre_30', 'Wind_pre_15', 'Wind_pre_7', 'Hum_pre_30', 'Hum_pre_15',
       'Hum_pre_7', 'year', 'putout_time'],
      dtype='object')

In [57]:
df

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0
1,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0
3,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0
4,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0
5,36,1420.00,Lightning,33.241800,-104.912200,NM,Jul,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15326,55336,3409.00,Utilities,31.059000,-98.956367,TX,Aug,30.731860,30.545367,28.719917,3.136761,3.238803,3.224274,50.089157,49.416505,55.426471,2015,3
15327,55337,4582.00,Utilities,30.075167,-97.149167,TX,Oct,24.642268,23.713390,24.221869,1.529850,1.576828,1.563817,62.848172,60.641975,63.196819,2015,11
15328,55341,17823.00,Accidental,44.834600,-117.220600,OR,Sep,15.546194,12.890633,10.734328,2.608150,2.486802,1.835821,55.009259,62.368700,67.266304,2015,39
15329,55342,5086.00,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,4.428757,4.197593,3.803571,51.676681,46.933399,42.638384,2015,5
15330,55343,5963.00,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,1.580406,1.835639,1.405983,51.541802,53.945191,56.257500,2015,10

In [64]:
df['fire_size'].value_counts()

1.0        1830
2.0         951
3.0         582
5.0         504
4.0         337
           ...
17400.0       1
6607.0        1
14440.0       1
5571.0        1
5963.0        1
Name: fire_size, Length: 3494, dtype: int64

### Save cleaned file

In [59]:
df.to_csv("Resources_k/temps_to_7.csv", index=False)

-----------------------------------------

----------------------------

# Fourth Round of Cleaning: Binning Fire Size

### Binning Fire Size into more reasonable categories

In [53]:
df

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0
2,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0
3,26,2.00,Debris Burning,35.718900,-92.335000,AR,Jan,3.490698,0.000000,0.000000,1.347442,0.000000,0.000000,76.091398,0.000000,0.000000,2014,0
4,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0
6,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18910,55336,3409.00,Utilities,31.059000,-98.956367,TX,Aug,30.731860,30.545367,28.719917,3.136761,3.238803,3.224274,50.089157,49.416505,55.426471,2015,3
18911,55337,4582.00,Utilities,30.075167,-97.149167,TX,Oct,24.642268,23.713390,24.221869,1.529850,1.576828,1.563817,62.848172,60.641975,63.196819,2015,11
18912,55341,17823.00,Accidental,44.834600,-117.220600,OR,Sep,15.546194,12.890633,10.734328,2.608150,2.486802,1.835821,55.009259,62.368700,67.266304,2015,39
18913,55342,5086.00,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,4.428757,4.197593,3.803571,51.676681,46.933399,42.638384,2015,5
18914,55343,5963.00,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,1.580406,1.835639,1.405983,51.541802,53.945191,56.257500,2015,10

In [54]:
df.describe()

,fire_id,fire_size,latitude,longitude,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time
count,15331.000000,15331.000000,15331.000000,15331.000000,15331.000000,15331.000000,15331.000000,15331.000000,15331.000000,15331.000000,15331.000000,15331.000000,15331.000000,15331.000000,15331.000000
mean,30532.208140,4804.186598,38.642040,-100.168591,14.866293,15.165693,15.432735,2.864107,2.765046,2.693713,51.885768,49.118822,47.380687,2005.041550,7.649403
std,16907.632112,22930.445973,7.839231,17.916881,9.064461,9.258774,9.449084,1.397756,1.477561,1.525187,23.076988,24.214230,24.579972,7.168581,22.188695
min,3.000000,0.510000,18.001111,-165.116700,-15.651163,-37.000000,-19.571131,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1992.000000,0.000000
25%,15922.000000,1.800000,33.266750,-113.331318,8.133210,8.257040,8.349349,2.074056,1.932050,1.793872,40.373547,35.996244,33.189604,1999.000000,0.000000
50%,31073.000000,6.000000,36.155850,-95.225000,15.358776,15.779661,16.265628,2.878348,2.796845,2.718519,60.214733,57.558282,54.750000,2006.000000,0.000000
75%,46684.500000,125.500000,42.976770,-85.255110,22.344280,22.737890,23.131962,3.742610,3.707883,3.674815,68.609398,67.320224,66.123146,2011.000000,2.000000
max,55343.000000,538049.000000,69.047200,-67.047639,46.600000,51.567797,55.000000,29.800000,29.800000,12.681673,94.000000,94.000000,95.240000,2015.000000,371.000000

In [55]:
df["fire_size_bin"]=''
df

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0,
2,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0,
3,26,2.00,Debris Burning,35.718900,-92.335000,AR,Jan,3.490698,0.000000,0.000000,1.347442,0.000000,0.000000,76.091398,0.000000,0.000000,2014,0,
4,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0,
6,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18910,55336,3409.00,Utilities,31.059000,-98.956367,TX,Aug,30.731860,30.545367,28.719917,3.136761,3.238803,3.224274,50.089157,49.416505,55.426471,2015,3,
18911,55337,4582.00,Utilities,30.075167,-97.149167,TX,Oct,24.642268,23.713390,24.221869,1.529850,1.576828,1.563817,62.848172,60.641975,63.196819,2015,11,
18912,55341,17823.00,Accidental,44.834600,-117.220600,OR,Sep,15.546194,12.890633,10.734328,2.608150,2.486802,1.835821,55.009259,62.368700,67.266304,2015,39,
18913,55342,5086.00,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,4.428757,4.197593,3.803571,51.676681,46.933399,42.638384,2015,5,
18914,55343,5963.00,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,1.580406,1.835639,1.405983,51.541802,53.945191,56.257500,2015,10,

In [56]:
df.loc[(df["fire_size"].between(0,5)), "fire_size_bin"] = "Teacup"
df.loc[(df["fire_size"].between(5,10)), "fire_size_bin"] = "Toy"
df.loc[(df["fire_size"].between(10,50)), "fire_size_bin"] = "Mini"
df.loc[(df["fire_size"].between(50,1000)), "fire_size_bin"] = "Medium"
df.loc[(df["fire_size"].between(1000,10000)), "fire_size_bin"] = "Large"
df.loc[(df["fire_size"]>10000), "fire_size_bin"] = "XL"

In [57]:
#df.to_csv("Resources_k/fire_size_bins.csv", index=False)

In [58]:
df['fire_size_bin_no']=''

In [60]:
df.loc[(df["fire_size_bin"]=="Teacup"), "fire_size_bin_no"] = 1
df.loc[(df["fire_size_bin"]=="Toy"), "fire_size_bin_no"] = 2
df.loc[(df["fire_size_bin"]=="Mini"), "fire_size_bin_no"] = 3
df.loc[(df["fire_size_bin"]=="Medium"), "fire_size_bin_no"] = 4
df.loc[(df["fire_size_bin"]=="Large"), "fire_size_bin_no"] = 5
df.loc[(df["fire_size_bin"]=="XL"), "fire_size_bin_no"] = 6

In [61]:
df

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin,fire_size_bin_no
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0,Teacup,1
2,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0,Mini,3
3,26,2.00,Debris Burning,35.718900,-92.335000,AR,Jan,3.490698,0.000000,0.000000,1.347442,0.000000,0.000000,76.091398,0.000000,0.000000,2014,0,Teacup,1
4,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0,Teacup,1
6,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0,Mini,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18910,55336,3409.00,Utilities,31.059000,-98.956367,TX,Aug,30.731860,30.545367,28.719917,3.136761,3.238803,3.224274,50.089157,49.416505,55.426471,2015,3,Large,5
18911,55337,4582.00,Utilities,30.075167,-97.149167,TX,Oct,24.642268,23.713390,24.221869,1.529850,1.576828,1.563817,62.848172,60.641975,63.196819,2015,11,Large,5
18912,55341,17823.00,Accidental,44.834600,-117.220600,OR,Sep,15.546194,12.890633,10.734328,2.608150,2.486802,1.835821,55.009259,62.368700,67.266304,2015,39,XL,6
18913,55342,5086.00,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,4.428757,4.197593,3.803571,51.676681,46.933399,42.638384,2015,5,Large,5
18914,55343,5963.00,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,1.580406,1.835639,1.405983,51.541802,53.945191,56.257500,2015,10,Large,5

In [ ]:
#df.to_csv("Resources_k/fire_size_bins_new.csv", index=False)

----------------------------

---------------------------------

# Fifth Round of Cleaning: Adding Medium +, Changing Strings to Numbers

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Resources_k/fire_size_bins_new.csv')
df

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin,fire_size_bin_no
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0,Teacup,1
1,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0,Mini,3
2,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0,Teacup,1
3,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0,Mini,3
4,36,1420.00,Lightning,33.241800,-104.912200,NM,Jul,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,1,Large,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13133,55336,3409.00,Utilities,31.059000,-98.956367,TX,Aug,30.731860,30.545367,28.719917,3.136761,3.238803,3.224274,50.089157,49.416505,55.426471,2015,3,Large,5
13134,55337,4582.00,Utilities,30.075167,-97.149167,TX,Oct,24.642268,23.713390,24.221869,1.529850,1.576828,1.563817,62.848172,60.641975,63.196819,2015,11,Large,5
13135,55341,17823.00,Accidental,44.834600,-117.220600,OR,Sep,15.546194,12.890633,10.734328,2.608150,2.486802,1.835821,55.009259,62.368700,67.266304,2015,39,XL,6
13136,55342,5086.00,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,4.428757,4.197593,3.803571,51.676681,46.933399,42.638384,2015,5,Large,5
13137,55343,5963.00,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,1.580406,1.835639,1.405983,51.541802,53.945191,56.257500,2015,10,Large,5

In [3]:
df

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin,fire_size_bin_no
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0,Teacup,1
1,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0,Mini,3
2,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0,Teacup,1
3,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0,Mini,3
4,36,1420.00,Lightning,33.241800,-104.912200,NM,Jul,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,1,Large,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13133,55336,3409.00,Utilities,31.059000,-98.956367,TX,Aug,30.731860,30.545367,28.719917,3.136761,3.238803,3.224274,50.089157,49.416505,55.426471,2015,3,Large,5
13134,55337,4582.00,Utilities,30.075167,-97.149167,TX,Oct,24.642268,23.713390,24.221869,1.529850,1.576828,1.563817,62.848172,60.641975,63.196819,2015,11,Large,5
13135,55341,17823.00,Accidental,44.834600,-117.220600,OR,Sep,15.546194,12.890633,10.734328,2.608150,2.486802,1.835821,55.009259,62.368700,67.266304,2015,39,XL,6
13136,55342,5086.00,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,4.428757,4.197593,3.803571,51.676681,46.933399,42.638384,2015,5,Large,5
13137,55343,5963.00,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,1.580406,1.835639,1.405983,51.541802,53.945191,56.257500,2015,10,Large,5

In [4]:
df['medium_plus']=''

In [5]:
df.loc[df['fire_size_bin_no']>=4,'medium_plus']=1
df.loc[df['fire_size_bin_no']<4,'medium_plus']=0
df['medium_plus']=df["medium_plus"].astype(int)
df

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,...,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin,fire_size_bin_no,medium_plus
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,...,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0,Teacup,1,0
1,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,...,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0,Mini,3,0
2,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,...,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0,Teacup,1,0
3,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,...,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0,Mini,3,0
4,36,1420.00,Lightning,33.241800,-104.912200,NM,Jul,31.055859,32.523438,34.893333,...,3.844922,3.695833,28.783203,25.789062,18.208333,1994,1,Large,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13133,55336,3409.00,Utilities,31.059000,-98.956367,TX,Aug,30.731860,30.545367,28.719917,...,3.238803,3.224274,50.089157,49.416505,55.426471,2015,3,Large,5,1
13134,55337,4582.00,Utilities,30.075167,-97.149167,TX,Oct,24.642268,23.713390,24.221869,...,1.576828,1.563817,62.848172,60.641975,63.196819,2015,11,Large,5,1
13135,55341,17823.00,Accidental,44.834600,-117.220600,OR,Sep,15.546194,12.890633,10.734328,...,2.486802,1.835821,55.009259,62.368700,67.266304,2015,39,XL,6,1
13136,55342,5086.00,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,...,4.197593,3.803571,51.676681,46.933399,42.638384,2015,5,Large,5,1
13137,55343,5963.00,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,...,1.835639,1.405983,51.541802,53.945191,56.257500,2015,10,Large,5,1

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['discovery_month_no'] = le.fit_transform(df["discovery_month"])
df.head()

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,...,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin,fire_size_bin_no,medium_plus,discovery_month_no
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,...,3.671282,44.778429,37.140811,35.353846,2005,0,Teacup,1,0,6
1,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,...,1.775904,57.997207,56.747191,59.614458,1999,0,Mini,3,0,0
2,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,...,6.658621,77.575012,75.963981,71.173116,2007,0,Teacup,1,0,0
3,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,...,2.211429,67.551783,61.733788,60.328571,2000,0,Mini,3,0,10
4,36,1420.00,Lightning,33.241800,-104.912200,NM,Jul,31.055859,32.523438,34.893333,...,3.695833,28.783203,25.789062,18.208333,1994,1,Large,5,1,5

In [7]:
# Months dictionary
months_num = {
    "Jan": 1,
    "Feb": 2,
    "Mar": 3,
    "Apr": 4,
    "May": 5,
    "Jun": 6,
    "Jul": 7,
    "Aug": 8,
    "Sep": 9,
    "Oct": 10,
    "Nov": 11,
    "Dec": 12,
}

# Months' names encoded using the dictionary values
df["discovery_month_no"] = df["discovery_month"].apply(lambda x: months_num[x])
df.head()

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,...,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin,fire_size_bin_no,medium_plus,discovery_month_no
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,...,3.671282,44.778429,37.140811,35.353846,2005,0,Teacup,1,0,6
1,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,...,1.775904,57.997207,56.747191,59.614458,1999,0,Mini,3,0,4
2,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,...,6.658621,77.575012,75.963981,71.173116,2007,0,Teacup,1,0,4
3,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,...,2.211429,67.551783,61.733788,60.328571,2000,0,Mini,3,0,10
4,36,1420.00,Lightning,33.241800,-104.912200,NM,Jul,31.055859,32.523438,34.893333,...,3.695833,28.783203,25.789062,18.208333,1994,1,Large,5,1,7

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['state_no'] = le.fit_transform(df["state"])
df

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,...,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin,fire_size_bin_no,medium_plus,discovery_month_no,state_no
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,...,44.778429,37.140811,35.353846,2005,0,Teacup,1,0,6,28
1,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,...,57.997207,56.747191,59.614458,1999,0,Mini,3,0,4,21
2,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,...,77.575012,75.963981,71.173116,2007,0,Teacup,1,0,4,24
3,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,...,67.551783,61.733788,60.328571,2000,0,Mini,3,0,10,7
4,36,1420.00,Lightning,33.241800,-104.912200,NM,Jul,31.055859,32.523438,34.893333,...,28.783203,25.789062,18.208333,1994,1,Large,5,1,7,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13133,55336,3409.00,Utilities,31.059000,-98.956367,TX,Aug,30.731860,30.545367,28.719917,...,50.089157,49.416505,55.426471,2015,3,Large,5,1,8,38
13134,55337,4582.00,Utilities,30.075167,-97.149167,TX,Oct,24.642268,23.713390,24.221869,...,62.848172,60.641975,63.196819,2015,11,Large,5,1,10,38
13135,55341,17823.00,Accidental,44.834600,-117.220600,OR,Sep,15.546194,12.890633,10.734328,...,55.009259,62.368700,67.266304,2015,39,XL,6,1,9,32
13136,55342,5086.00,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,...,51.676681,46.933399,42.638384,2015,5,Large,5,1,3,22
13137,55343,5963.00,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,...,51.541802,53.945191,56.257500,2015,10,Large,5,1,10,9

In [9]:
states_num = {
    "AK": 1,
    "AL": 2,
    "AR": 3,
    "AZ": 4,
    "CA": 5,
    "CO": 6,
    "FL": 7,
    "GA": 8,
    "IA": 9,
    "ID": 10,
    "IL": 11,
    "IN": 12,
    "KS": 13,
    "KY": 14,
    "LA": 15,
    "MA": 16,
    "MD": 17,
    "ME": 18,
    "MI": 19,
    "MN": 20,
    "MO": 21,
    "MS": 22,
    "MT": 23,
    "NC": 24,
    "ND": 25,
    "NE": 26,
    "NJ": 27,
    "NM": 28,
    "NV": 29,
    "NY": 30,
    "OH": 31,
    "OK": 32,
    "OR": 33,
    "PA": 34,
    "PR": 35,
    "SC": 36,
    "SD": 37,
    "TN": 38,
    "TX": 39,
    "UT": 40,
    "VA": 41,
    "WA": 42,
    "WI": 43,
    "WV": 44,
    "WY": 45
    
}

In [10]:
# States' names encoded using the dictionary values
df["state_no"] = df["state"].apply(lambda x: states_num[x])
df.head()

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,...,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin,fire_size_bin_no,medium_plus,discovery_month_no,state_no
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,...,44.778429,37.140811,35.353846,2005,0,Teacup,1,0,6,29
1,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,...,57.997207,56.747191,59.614458,1999,0,Mini,3,0,4,22
2,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,...,77.575012,75.963981,71.173116,2007,0,Teacup,1,0,4,25
3,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,...,67.551783,61.733788,60.328571,2000,0,Mini,3,0,10,8
4,36,1420.00,Lightning,33.241800,-104.912200,NM,Jul,31.055859,32.523438,34.893333,...,28.783203,25.789062,18.208333,1994,1,Large,5,1,7,28

In [11]:
df.columns

Index(['fire_id', 'fire_size', 'fire_cause', 'latitude', 'longitude', 'state',
       'discovery_month', 'Temp_pre_30', 'Temp_pre_15', 'Temp_pre_7',
       'Wind_pre_30', 'Wind_pre_15', 'Wind_pre_7', 'Hum_pre_30', 'Hum_pre_15',
       'Hum_pre_7', 'year', 'putout_time', 'fire_size_bin', 'fire_size_bin_no',
       'medium_plus', 'discovery_month_no', 'state_no'],
      dtype='object')

In [12]:
df_all=df[['fire_id', 'fire_size', 'fire_cause', 'latitude', 'longitude', 'state', 'state_no', 'discovery_month', 'discovery_month_no', 'year', 'putout_time', 'Temp_pre_30', 'Temp_pre_15',
       'Temp_pre_7', 'Wind_pre_30', 'Wind_pre_15', 'Wind_pre_7', 'Hum_pre_30',
       'Hum_pre_15', 'Hum_pre_7',  'fire_size_bin',  'fire_size_bin_no',
       'medium_plus']]
df_all

,fire_id,fire_size,fire_cause,latitude,longitude,state,state_no,discovery_month,discovery_month_no,year,...,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,fire_size_bin,fire_size_bin_no,medium_plus
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,29,Jun,6,2005,...,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,Teacup,1,0
1,24,40.00,Arson,31.435181,-88.999489,MS,22,Apr,4,1999,...,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,Mini,3,0
2,31,1.20,Debris Burning,48.833000,-99.783600,ND,25,Apr,4,2007,...,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,Teacup,1,0
3,35,30.18,Debris Burning,31.259000,-84.895600,GA,8,Oct,10,2000,...,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,Mini,3,0
4,36,1420.00,Lightning,33.241800,-104.912200,NM,28,Jul,7,1994,...,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,Large,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13133,55336,3409.00,Utilities,31.059000,-98.956367,TX,39,Aug,8,2015,...,28.719917,3.136761,3.238803,3.224274,50.089157,49.416505,55.426471,Large,5,1
13134,55337,4582.00,Utilities,30.075167,-97.149167,TX,39,Oct,10,2015,...,24.221869,1.529850,1.576828,1.563817,62.848172,60.641975,63.196819,Large,5,1
13135,55341,17823.00,Accidental,44.834600,-117.220600,OR,33,Sep,9,2015,...,10.734328,2.608150,2.486802,1.835821,55.009259,62.368700,67.266304,XL,6,1
13136,55342,5086.00,Debris Burning,45.656100,-109.114200,MT,23,Mar,3,2015,...,7.678571,4.428757,4.197593,3.803571,51.676681,46.933399,42.638384,Large,5,1
13137,55343,5963.00,Debris Burning,43.785671,-115.985922,ID,10,Oct,10,2015,...,15.732906,1.580406,1.835639,1.405983,51.541802,53.945191,56.257500,Large,5,1

In [13]:
#df_all.to_csv('Resources_k/df_all_k.csv', index=False)

In [14]:
df_all.columns

Index(['fire_id', 'fire_size', 'fire_cause', 'latitude', 'longitude', 'state',
       'state_no', 'discovery_month', 'discovery_month_no', 'year',
       'putout_time', 'Temp_pre_30', 'Temp_pre_15', 'Temp_pre_7',
       'Wind_pre_30', 'Wind_pre_15', 'Wind_pre_7', 'Hum_pre_30', 'Hum_pre_15',
       'Hum_pre_7', 'fire_size_bin', 'fire_size_bin_no', 'medium_plus'],
      dtype='object')

In [15]:
df7_k=df_all.drop(columns=['fire_size', 'fire_cause', 'state_no',
       'discovery_month_no', 'year', 'putout_time','fire_size_bin', 'Temp_pre_30', 'Temp_pre_15', 'Wind_pre_30',
       'Wind_pre_15', 'Hum_pre_30', 'Hum_pre_15'], axis=1)
#df7_k.to_csv('Resources_k/df7_k.csv', index=False)

In [16]:
df15_k=df_all.drop(columns=['fire_size', 'fire_cause', 'state',
       'discovery_month', 'year', 'putout_time','fire_size_bin', 'Temp_pre_30', 'Temp_pre_7', 'Wind_pre_30',
       'Wind_pre_7', 'Hum_pre_30', 'Hum_pre_7'], axis=1)
#df15_k.to_csv('Resources_k/df15_k.csv', index=False)

In [17]:
df30_k=df_all.drop(columns=['fire_size', 'fire_cause', 'state',
       'discovery_month', 'year', 'putout_time','fire_size_bin', 'Temp_pre_15', 'Temp_pre_7', 'Wind_pre_15',
       'Wind_pre_7', 'Hum_pre_15', 'Hum_pre_7'], axis=1)
#df30_k.to_csv('Resources_k/df30_k.csv', index=False)

In [18]:
df7_k2=df_all.drop(columns=['fire_size', 'fire_cause', 'state_no',
       'discovery_month_no', 'year', 'putout_time','fire_size_bin', 'Temp_pre_30', 'Temp_pre_15', 'Wind_pre_30',
       'Wind_pre_15', 'Hum_pre_30', 'Hum_pre_15'], axis=1)
#df7_k2.to_csv('Resources_k/df7_k2.csv', index=False)

In [4]:
df=pd.read_csv('Resources_k/df_all_k.csv')

In [6]:
df.dtypes

fire_id                 int64
fire_size             float64
fire_cause             object
latitude              float64
longitude             float64
state                  object
state_no                int64
discovery_month        object
discovery_month_no      int64
year                    int64
putout_time             int64
Temp_pre_30           float64
Temp_pre_15           float64
Temp_pre_7            float64
Wind_pre_30           float64
Wind_pre_15           float64
Wind_pre_7            float64
Hum_pre_30            float64
Hum_pre_15            float64
Hum_pre_7             float64
fire_size_bin          object
fire_size_bin_no        int64
medium_plus             int64
dtype: object

In [7]:
df['year']=df['year'].astype('object')

In [8]:
df.dtypes

fire_id                 int64
fire_size             float64
fire_cause             object
latitude              float64
longitude             float64
state                  object
state_no                int64
discovery_month        object
discovery_month_no      int64
year                   object
putout_time             int64
Temp_pre_30           float64
Temp_pre_15           float64
Temp_pre_7            float64
Wind_pre_30           float64
Wind_pre_15           float64
Wind_pre_7            float64
Hum_pre_30            float64
Hum_pre_15            float64
Hum_pre_7             float64
fire_size_bin          object
fire_size_bin_no        int64
medium_plus             int64
dtype: object

In [10]:
#df.to_csv('Resources_k/df_all_k.csv')