In [1]:
# Importing required libraries
import pandas as pd
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy as sql
import psycopg2
import config
from config import db_password
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Text, Time
from sqlite3 import connect
from sqlalchemy import inspect
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import func

ModuleNotFoundError: No module named 'config'

In [2]:
fire_df = pd.read_csv("Resources_k/fire_size_bins_new.csv")
fire_df

,fire_id,fire_size,fire_cause,latitude,longitude,state,discovery_month,Temp_pre_30,Temp_pre_15,Temp_pre_7,Wind_pre_30,Wind_pre_15,Wind_pre_7,Hum_pre_30,Hum_pre_15,Hum_pre_7,year,putout_time,fire_size_bin,fire_size_bin_no
0,3,1.00,Debris Burning,39.641400,-119.308300,NV,Jun,16.275967,18.996181,18.142564,4.054982,3.398329,3.671282,44.778429,37.140811,35.353846,2005,0,Teacup,1
1,24,40.00,Arson,31.435181,-88.999489,MS,Apr,13.468619,15.067227,15.604790,2.038268,1.737921,1.775904,57.997207,56.747191,59.614458,1999,0,Mini,3
2,31,1.20,Debris Burning,48.833000,-99.783600,ND,Apr,-0.891635,0.372659,-4.273834,5.800667,6.012852,6.658621,77.575012,75.963981,71.173116,2007,0,Teacup,1
3,35,30.18,Debris Burning,31.259000,-84.895600,GA,Oct,20.079480,17.722714,18.188679,3.659840,3.366443,2.211429,67.551783,61.733788,60.328571,2000,0,Mini,3
4,36,1420.00,Lightning,33.241800,-104.912200,NM,Jul,31.055859,32.523438,34.893333,4.026367,3.844922,3.695833,28.783203,25.789062,18.208333,1994,1,Large,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13133,55336,3409.00,Utilities,31.059000,-98.956367,TX,Aug,30.731860,30.545367,28.719917,3.136761,3.238803,3.224274,50.089157,49.416505,55.426471,2015,3,Large,5
13134,55337,4582.00,Utilities,30.075167,-97.149167,TX,Oct,24.642268,23.713390,24.221869,1.529850,1.576828,1.563817,62.848172,60.641975,63.196819,2015,11,Large,5
13135,55341,17823.00,Accidental,44.834600,-117.220600,OR,Sep,15.546194,12.890633,10.734328,2.608150,2.486802,1.835821,55.009259,62.368700,67.266304,2015,39,XL,6
13136,55342,5086.00,Debris Burning,45.656100,-109.114200,MT,Mar,2.275974,7.360185,7.678571,4.428757,4.197593,3.803571,51.676681,46.933399,42.638384,2015,5,Large,5
13137,55343,5963.00,Debris Burning,43.785671,-115.985922,ID,Oct,17.007551,16.983670,15.732906,1.580406,1.835639,1.405983,51.541802,53.945191,56.257500,2015,10,Large,5

In [3]:
# Create fire_info df to export to PGAdmin
fire_info = fire_df[["fire_id", "fire_size", "fire_cause", "discovery_month", "putout_time", "year"]]
fire_info

       fire_id  fire_size      fire_cause discovery_month  putout_time  year
0            3       1.00  Debris Burning             Jun            0  2005
1           24      40.00           Arson             Apr            0  1999
2           31       1.20  Debris Burning             Apr            0  2007
3           35      30.18  Debris Burning             Oct            0  2000
4           36    1420.00       Lightning             Jul            1  1994
...        ...        ...             ...             ...          ...   ...
13133    55336    3409.00       Utilities             Aug            3  2015
13134    55337    4582.00       Utilities             Oct           11  2015
13135    55341   17823.00      Accidental             Sep           39  2015
13136    55342    5086.00  Debris Burning             Mar            5  2015
13137    55343    5963.00  Debris Burning             Oct           10  2015

[13138 rows x 6 columns]

In [4]:
# Connect to sql database 
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Wild_Fires"
engine = create_engine(db_string)
fire_info.to_sql(name='fire_info', con=engine, if_exists = 'replace')

In [5]:
#import table from sql database 
fire_info_db = pd.read_sql_table("fire_info", con=engine, index_col="index")
fire_info_db

       fire_id  fire_size      fire_cause discovery_month  putout_time  year
index
0            3       1.00  Debris Burning             Jun            0  2005
1           24      40.00           Arson             Apr            0  1999
2           31       1.20  Debris Burning             Apr            0  2007
3           35      30.18  Debris Burning             Oct            0  2000
4           36    1420.00       Lightning             Jul            1  1994
...        ...        ...             ...             ...          ...   ...
13133    55336    3409.00       Utilities             Aug            3  2015
13134    55337    4582.00       Utilities             Oct           11  2015
13135    55341   17823.00      Accidental             Sep           39  2015
13136    55342    5086.00  Debris Burning             Mar            5  2015
13137    55343    5963.00  Debris Burning             Oct           10  2015

[13138 rows x 6 columns]

In [6]:
# Create fire_category df to export to PGAdmin
fire_category = fire_df[["fire_id", "fire_size_bin", "fire_size_bin_no"]]
fire_category

       fire_id fire_size_bin  fire_size_bin_no
0            3        Teacup                 1
1           24          Mini                 3
2           31        Teacup                 1
3           35          Mini                 3
4           36         Large                 5
...        ...           ...               ...
13133    55336         Large                 5
13134    55337         Large                 5
13135    55341            XL                 6
13136    55342         Large                 5
13137    55343         Large                 5

[13138 rows x 3 columns]

In [7]:
# Connect to sql database 
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Wild_Fires"
engine = create_engine(db_string)
fire_category.to_sql(name='fire_category', con=engine, if_exists = 'replace')

In [8]:
#import table from sql database 
fire_category_db = pd.read_sql_table("fire_category", con=engine, index_col="index")
fire_category_db

       fire_id fire_size_bin  fire_size_bin_no
index
0            3        Teacup                 1
1           24          Mini                 3
2           31        Teacup                 1
3           35          Mini                 3
4           36         Large                 5
...        ...           ...               ...
13133    55336         Large                 5
13134    55337         Large                 5
13135    55341            XL                 6
13136    55342         Large                 5
13137    55343         Large                 5

[13138 rows x 3 columns]

In [9]:
# Create fire_location df to export to PGAdmin
fire_location = fire_df[["fire_id", "latitude", "longitude", "state"]]
fire_location

       fire_id   latitude   longitude state
0            3  39.641400 -119.308300    NV
1           24  31.435181  -88.999489    MS
2           31  48.833000  -99.783600    ND
3           35  31.259000  -84.895600    GA
4           36  33.241800 -104.912200    NM
...        ...        ...         ...   ...
13133    55336  31.059000  -98.956367    TX
13134    55337  30.075167  -97.149167    TX
13135    55341  44.834600 -117.220600    OR
13136    55342  45.656100 -109.114200    MT
13137    55343  43.785671 -115.985922    ID

[13138 rows x 4 columns]

In [10]:
# Connect to sql database 
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Wild_Fires"
engine = create_engine(db_string)
fire_location.to_sql(name='fire_location', con=engine, if_exists = 'replace')

In [11]:
#import table from sql database 
fire_location_db = pd.read_sql_table("fire_location", con=engine, index_col="index")
fire_location_db

       fire_id   latitude   longitude state
index
0            3  39.641400 -119.308300    NV
1           24  31.435181  -88.999489    MS
2           31  48.833000  -99.783600    ND
3           35  31.259000  -84.895600    GA
4           36  33.241800 -104.912200    NM
...        ...        ...         ...   ...
13133    55336  31.059000  -98.956367    TX
13134    55337  30.075167  -97.149167    TX
13135    55341  44.834600 -117.220600    OR
13136    55342  45.656100 -109.114200    MT
13137    55343  43.785671 -115.985922    ID

[13138 rows x 4 columns]

In [12]:
# Create weather_data df to export to PGAdmin
weather_data = fire_df[["fire_id", "Temp_pre_30", "Wind_pre_30", "Hum_pre_30",
                        "Temp_pre_15", "Wind_pre_15", "Hum_pre_15",
                       "Temp_pre_7", "Wind_pre_7", "Hum_pre_7"]]

In [13]:
# Connect to sql database 
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Wild_Fires"
engine = create_engine(db_string)
weather_data.to_sql(name='weather_data', con=engine, if_exists = 'replace')

In [14]:
#import table from sql database 
weather_data_db = pd.read_sql_table("weather_data", con=engine, index_col="index")
weather_data_db

,fire_id,Temp_pre_30,Wind_pre_30,Hum_pre_30,Temp_pre_15,Wind_pre_15,Hum_pre_15,Temp_pre_7,Wind_pre_7,Hum_pre_7
index,,,,,,,,,,
0,3,16.275967,4.054982,44.778429,18.996181,3.398329,37.140811,18.142564,3.671282,35.353846
1,24,13.468619,2.038268,57.997207,15.067227,1.737921,56.747191,15.604790,1.775904,59.614458
2,31,-0.891635,5.800667,77.575012,0.372659,6.012852,75.963981,-4.273834,6.658621,71.173116
3,35,20.079480,3.659840,67.551783,17.722714,3.366443,61.733788,18.188679,2.211429,60.328571
4,36,31.055859,4.026367,28.783203,32.523438,3.844922,25.789062,34.893333,3.695833,18.208333
...,...,...,...,...,...,...,...,...,...,...
13133,55336,30.731860,3.136761,50.089157,30.545367,3.238803,49.416505,28.719917,3.224274,55.426471
13134,55337,24.642268,1.529850,62.848172,23.713390,1.576828,60.641975,24.221869,1.563817,63.196819
13135,55341,15.546194,2.608150,55.009259,12.890633,2.486802,62.368700,10.734328,1.835821,67.266304
13136,55342,2.275974,4.428757,51.676681,7.360185,4.197593,46.933399,7.678571,3.803571,42.638384
13137,55343,17.007551,1.580406,51.541802,16.983670,1.835639,53.945191,15.732906,1.405983,56.257500

## Connecting tables from DataBase

In [15]:
# Create a new table with joins:

# Connect to sql database 
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Wild_Fires"
db = create_engine(db_string)
conn = db.connect()
# define your database query
query = """
SELECT fc.fire_id,
fl.state, 
fi.discovery_month,
fi.fire_cause, 
wd."Temp_pre_30",
wd."Wind_pre_30",
wd."Hum_pre_30",
fi.putout_time, 
fc.fire_size_bin,
fc.fire_size_bin_no
FROM fire_category AS fc
INNER JOIN fire_location AS fl 
ON (fc.fire_id = fl.fire_id)
INNER JOIN fire_info AS fi 
ON (fc.fire_id = fi.fire_id)
INNER JOIN weather_data AS wd 
ON (fc.fire_id = wd.fire_id)
"""
#access the database with the query and return a dataframe
wildfire_details_30 = pd.read_sql(query, conn)
wildfire_details_30

,fire_id,state,discovery_month,fire_cause,Temp_pre_30,Wind_pre_30,Hum_pre_30,putout_time,fire_size_bin,fire_size_bin_no
0,3,NV,Jun,Debris Burning,16.275967,4.054982,44.778429,0,Teacup,1
1,24,MS,Apr,Arson,13.468619,2.038268,57.997207,0,Mini,3
2,31,ND,Apr,Debris Burning,-0.891635,5.800667,77.575012,0,Teacup,1
3,35,GA,Oct,Debris Burning,20.079480,3.659840,67.551783,0,Mini,3
4,36,NM,Jul,Lightning,31.055859,4.026367,28.783203,1,Large,5
...,...,...,...,...,...,...,...,...,...,...
13133,55336,TX,Aug,Utilities,30.731860,3.136761,50.089157,3,Large,5
13134,55337,TX,Oct,Utilities,24.642268,1.529850,62.848172,11,Large,5
13135,55341,OR,Sep,Accidental,15.546194,2.608150,55.009259,39,XL,6
13136,55342,MT,Mar,Debris Burning,2.275974,4.428757,51.676681,5,Large,5
13137,55343,ID,Oct,Debris Burning,17.007551,1.580406,51.541802,10,Large,5

In [16]:
#import table from sql database after join in PGAdmin(SQL)
wildfire_details_30_db = pd.read_sql_table("wildfire_details_30", con=engine, index_col="fire_id")
wildfire_details_30_db

,state,discovery_month,fire_cause,Temp_pre_30,Wind_pre_30,Hum_pre_30,putout_time,fire_size_bin,fire_size_bin_no
fire_id,,,,,,,,,
3,NV,Jun,Debris Burning,16.275967,4.054982,44.778429,0,Teacup,1
24,MS,Apr,Arson,13.468619,2.038268,57.997207,0,Mini,3
31,ND,Apr,Debris Burning,-0.891635,5.800667,77.575012,0,Teacup,1
35,GA,Oct,Debris Burning,20.079480,3.659840,67.551783,0,Mini,3
36,NM,Jul,Lightning,31.055859,4.026367,28.783203,1,Large,5
...,...,...,...,...,...,...,...,...,...
55336,TX,Aug,Utilities,30.731860,3.136761,50.089157,3,Large,5
55337,TX,Oct,Utilities,24.642268,1.529850,62.848172,11,Large,5
55341,OR,Sep,Accidental,15.546194,2.608150,55.009259,39,XL,6
55342,MT,Mar,Debris Burning,2.275974,4.428757,51.676681,5,Large,5
55343,ID,Oct,Debris Burning,17.007551,1.580406,51.541802,10,Large,5

In [17]:
# Save new table as a CSV
wildfire_details_30_db.to_csv('wildfire_details_30.csv',index = False)

In [18]:
#import table from sql database after join in PGAdmin(SQL)
wildfire_details_7_db = pd.read_sql_table("wildfire_details_7", con=engine, index_col="fire_id")
wildfire_details_7_db

,state,discovery_month,fire_cause,Temp_pre_7,Wind_pre_7,Hum_pre_7,putout_time,fire_size_bin,fire_size_bin_no
fire_id,,,,,,,,,
3,NV,Jun,Debris Burning,18.142564,3.671282,35.353846,0,Teacup,1
24,MS,Apr,Arson,15.604790,1.775904,59.614458,0,Mini,3
31,ND,Apr,Debris Burning,-4.273834,6.658621,71.173116,0,Teacup,1
35,GA,Oct,Debris Burning,18.188679,2.211429,60.328571,0,Mini,3
36,NM,Jul,Lightning,34.893333,3.695833,18.208333,1,Large,5
...,...,...,...,...,...,...,...,...,...
55336,TX,Aug,Utilities,28.719917,3.224274,55.426471,3,Large,5
55337,TX,Oct,Utilities,24.221869,1.563817,63.196819,11,Large,5
55341,OR,Sep,Accidental,10.734328,1.835821,67.266304,39,XL,6
55342,MT,Mar,Debris Burning,7.678571,3.803571,42.638384,5,Large,5
55343,ID,Oct,Debris Burning,15.732906,1.405983,56.257500,10,Large,5

In [19]:
wildfire_details_7_db.to_csv('wildfire_details_7.csv',index = False)

In [20]:
conn_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Wild_Fires"
db = create_engine(conn_string)
conn = db.connect()

In [21]:
# New table counts for redefined categories
# define your database query
query = """
SELECT COUNT(fi.fire_id), fc.fire_size_bin_no, fc.fire_size_bin
FROM fire_info AS fi 
LEFT JOIN fire_category AS fc 
ON fi.fire_id = fc.fire_id 
GROUP BY fc.fire_size_bin_no, fc.fire_size_bin
ORDER BY fc.fire_size_bin_no
"""

# Access the database with the query and return a dataframe
df_fire_counts = pd.read_sql(query, conn)
df_fire_counts

   count  fire_size_bin_no fire_size_bin
0   5955                 1        Teacup
1   1327                 2           Toy
2   1982                 3          Mini
3   1015                 4        Medium
4   1610                 5         Large
5   1249                 6            XL

In [22]:
# Query tables for size, cause, and category
query = """
SELECT fi.fire_size,
fi.fire_cause,
fc.fire_size_bin,
fc.fire_size_bin_no
FROM fire_info AS fi
LEFT JOIN fire_category AS fc
ON fi.fire_id = fc.fire_id
"""
# Access the database with the query and return a dataframe
df_wildfire = pd.read_sql(query, conn)
df_wildfire

       fire_size      fire_cause fire_size_bin  fire_size_bin_no
0           1.00  Debris Burning        Teacup                 1
1          40.00           Arson          Mini                 3
2           1.20  Debris Burning        Teacup                 1
3          30.18  Debris Burning          Mini                 3
4        1420.00       Lightning         Large                 5
...          ...             ...           ...               ...
13133    3409.00       Utilities         Large                 5
13134    4582.00       Utilities         Large                 5
13135   17823.00      Accidental            XL                 6
13136    5086.00  Debris Burning         Large                 5
13137    5963.00  Debris Burning         Large                 5

[13138 rows x 4 columns]

In [23]:
# Query tables for counts by causes and category
query = """
SELECT 
COUNT (fi.fire_id), fc.fire_size_bin, fi.fire_cause
FROM fire_info AS fi
LEFT JOIN fire_category AS fc
ON fi.fire_id = fc.fire_id
GROUP BY fc.fire_size_bin_no, fc.fire_size_bin, fi.fire_cause
ORDER BY fi.fire_cause, count
"""
# Access the database with the query and return a dataframe
df_fire_cause = pd.read_sql(query, conn)
df_fire_cause

    count fire_size_bin      fire_cause
0      55            XL      Accidental
1      69        Medium      Accidental
2      72         Large      Accidental
3     118           Toy      Accidental
4     155          Mini      Accidental
5     835        Teacup      Accidental
6      55            XL           Arson
7     108         Large           Arson
8     279        Medium           Arson
9     372           Toy           Arson
10    662          Mini           Arson
11   1468        Teacup           Arson
12     37            XL  Debris Burning
13     89         Large  Debris Burning
14    203        Medium  Debris Burning
15    454           Toy  Debris Burning
16    573          Mini  Debris Burning
17   2055        Teacup  Debris Burning
18    245           Toy       Lightning
19    332        Medium       Lightning
20    398          Mini       Lightning
21   1003            XL       Lightning
22   1037        Teacup       Lightning
23   1161         Large       Lightning
24     99            XL       Utilities
25    132        Medium       Utilities
26    138           Toy       Utilities
27    180         Large       Utilities
28    194          Mini       Utilities
29    560        Teacup       Utilities

In [24]:
# Query tables for counts by category and year
query = """
SELECT
COUNT (fi.fire_id), fc.fire_size_bin, fi.year
FROM fire_info AS fi
LEFT JOIN fire_category AS fc
ON fi.fire_id = fc.fire_id
WHERE fi.year = 1992 or fi.year = 2015
GROUP BY fc.fire_size_bin_no, fc.fire_size_bin, fi.year
ORDER BY fi.year, fc.fire_size_bin

"""
# Access the database with the query and return a dataframe
df_fire_year_bin = pd.read_sql(query, conn)
df_fire_year_bin

    count fire_size_bin  year
0      21         Large  1992
1      31        Medium  1992
2      88          Mini  1992
3     234        Teacup  1992
4      51           Toy  1992
5      20            XL  1992
6      91         Large  2015
7      47        Medium  2015
8     112          Mini  2015
9     419        Teacup  2015
10     85           Toy  2015
11    121            XL  2015

In [25]:
# Query counts by year
query = """
SELECT year,
COUNT (fire_id)
FROM fire_info
GROUP BY year
ORDER BY count DESC

"""
# Access the database with the query and return a dataframe
df_fire_year = pd.read_sql(query, conn)
df_fire_year

with pd.option_context('display.max_rows',10):
    display(df_fire_year)

    year  count
0   2004    287
1   1998    294
2   1997    318
3   2008    361
4   2003    368
5   2002    395
6   2001    435
7   1992    445
8   1993    466
9   1995    486
10  1999    507
11  2009    508
12  2000    535
13  2010    544
14  1994    544
15  1996    555
16  2007    560
17  2005    592
18  2006    658
19  2013    661
20  2014    702
21  2015    875
22  2012    939
23  2011   1103

In [26]:
# Query counts by month and year
query = """
SELECT
COUNT (fi.fire_id), fi.discovery_month, fi.year
FROM fire_info AS fi
WHERE fi.year = 1992 or fi.year = 2015
GROUP BY  fi.discovery_month, fi.year
ORDER BY fi.year, count DESC

"""
# Access the database with the query and return a dataframe
df_fire_year_month = pd.read_sql(query, conn)
df_fire_year_month

    count discovery_month  year
0      77             Mar  1992
1      65             May  1992
2      62             Aug  1992
3      59             Feb  1992
4      50             Apr  1992
5      37             Jun  1992
6      27             Oct  1992
7      24             Jul  1992
8      18             Sep  1992
9      10             Dec  1992
10      8             Jan  1992
11      8             Nov  1992
12    163             Jun  2015
13    132             Mar  2015
14    125             Apr  2015
15     91             Aug  2015
16     87             Feb  2015
17     75             Jul  2015
18     64             May  2015
19     49             Oct  2015
20     39             Nov  2015
21     38             Sep  2015
22      7             Dec  2015
23      5             Jan  2015

In [3]:
# Query counts by State
query = """
SELECT state,
COUNT (fire_id)
FROM fire_location
GROUP BY state
ORDER BY count DESC

"""
# Access the database with the query and return a dataframe
df_fire_state = pd.read_sql(query, conn)
df_fire_state.head()

with pd.option_context('display.max_rows',10):
    display(df_fire_state)

NameError: name 'pd' is not defined

In [4]:
# Query count for cause by year 1992 vs 2015
query = """
SELECT
COUNT (fi.fire_id), fi.fire_cause, fi.year
FROM fire_info AS fi
WHERE fi.year = 1992 or fi.year = 2015
GROUP BY  fi.fire_cause, fi.year
ORDER BY fi.year, count

"""
# Access the database with the query and return a dataframe
df_fire_year_cause = pd.read_sql(query, conn)
df_fire_year_cause

NameError: name 'pd' is not defined

In [35]:
# Query for acres burned per year
pd.options.display.float_format = '{:,}'.format


query = """
SELECT year,
SUM (fire_size)
FROM fire_info
GROUP BY year
ORDER BY sum DESC
"""
# Access the database with the query and return a dataframe
df_acres_burned = pd.read_sql(query, conn).round(2)
df_acres_burned

with pd.option_context('display.max_rows',10):
    display(df_acres_burned)

    year          sum
0   2015 5,956,913.82
1   2005 5,442,221.32
2   2004 4,797,085.48
3   2012  4,606,347.1
4   2006 4,556,531.91
5   2011 4,151,682.36
6   2007 3,852,394.19
7   2009 3,428,943.99
8   2000 3,406,784.27
9   1999  2,926,124.0
10  2002 2,646,515.99
11  1996 2,576,820.04
12  2013 2,294,789.63
13  2003 1,950,156.15
14  1994  1,620,368.5
15  2010 1,565,229.17
16  2001 1,521,339.35
17  2008 1,354,231.31
18  2014 1,130,433.71
19  1997   886,198.32
20  1992   814,850.27
21  1993   777,362.66
22  1995   590,090.14
23  1998   415,002.85

## Failed Attempts to Join AND create table

In [30]:
import pymysql as py
import pandas as pd

In [31]:
# Connect to sql database 
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Wild_Fires"
engine = create_engine(db_string)
# Create a base
Base = automap_base()
# Set a reflect for schema to interact with code
Base.prepare(engine, reflect=True)
# Check the classes of the data
# Base.classes.keys()
# Create session link for queries
session = Session(engine)

In [32]:
# Attempt 1 using pd.read_sql_query with create_engine

# Connect to sql database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Wild_Fires"
engine = create_engine(db_string)

# Create try statement with query
try: 
    SQL_Query = pd.read_sql_query(
        '''
            SELECT fc.fire_id,
                    fl.state, 
                    fc.fire_size_bin,
                    fc.fire_size_bin_no
                INTO wildfire_details_30
                FROM fire_category AS fc
                    INNER JOIN fire_location AS fl 
                        ON (fc.fire_id = fl.fire_id);
''', engine)
    df = pd.DataFrame(SQL_Query, columns=['fire_id', 'state','fire_size_bin', 'fire_size_bin_no'])
    print(df)
    print('The data type of df is: ', type(df))
except:
    print("Error: unable to convert the data")

Error: unable to convert the data

In [33]:
# Attempt 2 using create table and metadata
from sqlalchemy.sql import text

# Connect to sql database 
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Wild_Fires"
engine = sql.create_engine(db_string)
meta = sql.MetaData()

wildfire_details_30 = sql.Table('wildfire_details_30', meta, 
                 sql.Column('fire_id', sql.Integer, primary_key = True),           
                 sql.Column('state', Integer),
                 sql.Column('discovery_month', sql.String),
                 sql.Column('fire_cause', sql.String),  
                 sql.Column("Temp_pre_30", sql.Integer),
                 sql.Column("Wind_pre_30", sql.Integer),
                 sql.Column("Hum_pre_30", sql.Integer),
                 sql.Column('putout_time', sql.Integer),
                 sql.Column('fire_size_bin', sql.String),
                 sql.Column('fire_size_bin_no', sql.Integer))
meta.create_all(engine)
inspector = inspect(engine)
inspector.get_columns('wildfire_details_30')

# Result is table created but no data in rows as there are too many rows to enter this is not efficient

[{'name': 'fire_id',
  'type': BIGINT(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'state',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'discovery_month',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'fire_cause',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'Temp_pre_30',
  'type': DOUBLE_PRECISION(precision=53),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'Wind_pre_30',
  'type': DOUBLE_PRECISION(precision=53),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'Hum_pre_30',
  'type': DOUBLE_PRECISION(precision=53),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'putout_time',
  'type': BIGINT(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'fire_size_bin',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'fire_size_bin_no',
  'type': BIGINT(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None}]

In [34]:
# Attempt 3 using a with statement and .execute to process the sql statement

# Connect to sql database 
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Wild_Fires"
engine = create_engine(db_string)

with engine.connect() as con:
    rs = con.execute('''SELECT fc.fire_id,
                            fl.state, 
                            fi.discovery_month,
                            fi.fire_cause, 
                            wd."Temp_pre_30",
                            wd."Wind_pre_30",
                            wd."Hum_pre_30",
                            fi.putout_time, 
                            fc.fire_size_bin,
                            fc.fire_size_bin_no
                        INTO wildfire_details_30
                        FROM fire_category AS fc
                            INNER JOIN fire_location AS fl 
                                ON (fc.fire_id = fl.fire_id)
                            INNER JOIN fire_info AS fi 
                                ON (fc.fire_id = fi.fire_id)
                            INNER JOIN weather_data AS wd 
                                ON (fc.fire_id = wd.fire_id)''')
    for row in rs:
        print(row)
# Result: ResourceClosedError: This result object does not return rows. It has been closed automatically.

ProgrammingError: (psycopg2.errors.DuplicateTable) relation "wildfire_details_30" already exists

[SQL: SELECT fc.fire_id,
                            fl.state,
                            fi.discovery_month,
                            fi.fire_cause,
                            wd."Temp_pre_30",
                            wd."Wind_pre_30",
                            wd."Hum_pre_30",
                            fi.putout_time,
                            fc.fire_size_bin,
                            fc.fire_size_bin_no
                        INTO wildfire_details_30
                        FROM fire_category AS fc
                            INNER JOIN fire_location AS fl
                                ON (fc.fire_id = fl.fire_id)
                            INNER JOIN fire_info AS fi
                                ON (fc.fire_id = fi.fire_id)
                            INNER JOIN weather_data AS wd
                                ON (fc.fire_id = wd.fire_id)]
(Background on this error at: https://sqlalche.me/e/14/f405)